.sector-summary-wrapper {
    background-color: #f7f9fa;
    position: relative;
    top: -31px;
    h1 {
        font-size: 18px;
        color: rgb(18, 88, 74);
        padding: 5px 0 5px 10px;
        text-align: center;
    }
    .circular-progress-holder {
        margin-top: 30px;
        background: #fff;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        position: relative;
        border-radius: 3px;
        h2 {
            font-weight: 300;
            font-size: 13px;
            color: rgb(18, 88, 74);
            margin-bottom: 20px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            li {
                text-align: center;
                border-right: 1px solid #e4fadf;
                width: 20%;
                position: relative;
                &.border-left {
                    border-left: 1px solid #e4fadf !important;
                }
                &:last-child {
                    border: 0;
                }
                span {
                    width: 100%;
                    background: #e1f2f4;
                    padding: 4px 10px;
                    font-size: 13px;
                    font-weight: 400;
                    color: #10453B;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                .value {
                    padding: 24px 0px 6px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 15px 0 15px 0;
                    height: 100%;
                    img {
                        width: 22px;
                        display: none;
                    }
                    p {
                        margin: 0;
                        color: #10453B;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 15px;
                    }
                }
            }
        }
    }
}