<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="metismenu-icon pe-7s-menu icon-gradient bg-mean-fruit">
                  </i>
                </div>
                <div>Traces
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="fly-div">
    <div class="req-div1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title col-lg-4">Traces</h5>
                                <div class="col-lg-8">
                                    <div class="header-right">
                                        <div class="actions">
                                            <ul class="icon-set">
                                       <!--         <li class="filter" (click)="onOpenModal(tableFilterModal)" title="Filtering"><img src="./assets/images/filter-icon-new.png" alt="" class="img-fluid"></li>
                                           -->     <li class="excel" (click)="expoerExcel()" title="Export Excel"><img src="./assets/images/excel-icon.png" alt="" class="img-fluid"></li>
                                                <li class="pdf" (click)="exportPDF()" title="Export PDF"><img src="./assets/images/pdf-icon.png" alt="" class="img-fluid"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span  style="position: absolute; right: 733px; top: 89px; color: red; font-weight: 500; font-size: 14px;"></span>
                          
                            <table class="mb-0 table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"> 
                                <thead>
                                    <tr>
                                            <th>#</th>
                                            <th >Mobile Number</th>
                                            
                                            <th >Contacted Mobile Number</th>
                                            <th >Trace Time</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="traces?.length != 0">
                                    <tr *ngFor="let val of traces; index as i">
                                        <td scope="row" width="3%" class="text-center">{{i + 1}}</td>
                                        <td scope="row" width="20%" class="text-center">{{val.MobileNo ? val.MobileNo : ''}}</td>
                                        <td scope="row" width="20%" class="text-center" >{{val.TargetBlueTooth ? val.TargetBlueTooth : ''}}</td>
                                        <td scope="row" width="20%" class="text-center" >{{(val.CaptureTIme ? val.CaptureTIme: "") | date:'medium' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #tableFilterModal class="modal-dialog modal-lg">
    <app-common-filter (closeModel)="modalClose()" (searchProject)="filter($event)" [allStatusTypeSelectedItem]="StatusTypeSelectedItem" [allTaluksSelectedItems]="allTaluksSelectedItems" [allEngineersSelectedItems]="allEngineersSelectedItems" 
          [allFinancialYearSelectedItems]="allFinancialYearSelectedItems" [allDepartmentsSelectedItems]="allDepartmentsSelectedItems" [allStatusType]="allStatusType"
        [allTaluks]="allTaluks" [allEngineers]="allEngineers"   [allFinancialYear]="allFinancialYear" [allDepartments]="allDepartments"></app-common-filter>
</ng-template>



<table id="basic-table" style="display: none;">
    <thead>
        <tr>
            <th>#</th>
            <th >Mobile Number</th>
            
            <th >Source Id</th>
            <th >Target Id</th>
            <th >Trace Time</th>
        </tr>
    </thead>
    <tbody *ngIf="traces?.length != 0">
        <tr *ngFor="let val of traces; index as i">
            <td scope="row" width="3%" class="text-center">{{i + 1}}</td>
                <td scope="row" width="20%" class="text-center">{{val.MobileNo ? val.MobileNo : ''}}</td>
                <td scope="row" width="20%" class="text-center" >{{val.SourceBlueTooth ? val.SourceBlueTooth : ''}}</td>
                <td scope="row" width="20%" class="text-center" >{{val.TargetBlueTooth ? val.TargetBlueTooth : ''}}</td>
                <td scope="row" width="20%" class="text-center" >{{(val.CaptureTIme ? val.CaptureTIme: "") | date:'medium' }}</td>
            </tr>
    </tbody>
</table>