<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="metismenu-icon pe-7s-network">
                  </i>
                </div>
                <div>Trace Report 
                    <div style="position: absolute; left: 26em; right: auto;top: 0.7vw;">
                        <div class="header-right" style="text-align: center;">
                            <div class="actions">
                                <div class="position-relative form-group">
    
                                        <select class="custom-select" style=" width: 30vw;" [(ngModel)]="moileNumber" (change)="onChangeNumber($event.target.value)">
                                            <option *ngFor="let row of this.infectedPeoples" value={{row.MobileNo}}>{{row.MobileNo}}</option>
                                        </select>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> 
    </div>
</div>


    <div class="fly-div" >
        <div class="req-div1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body" >
                                <div class="row">
                                    <h5 class="card-title col-lg-4">List View</h5>
                                    
                                </div>
                                <span  style="position: relative; right: 3vw; left: auto; color: red; font-weight: 500; font-size: 14px;"></span>
                                <ng-container *ngIf="contactChart" >
                                    <table class="table table-bordered details-table">
                                        <thead>
                                            
                                            <tr style="text-align: center;">
                                                <th width="3%" >#</th>
                                                <th width="30%" >Mobile Number</th>
                                                <th width="30%" >Contacted Mobile Number</th>
                                                <th width="30%" >Level</th>
                                                
                                            </tr>
                                            
                                        </thead>
                                        <tbody>
                                            
                                                <ng-container *ngIf="listData" [ngTemplateOutlet]="table" [ngTemplateOutletContext]="{link: listData}">

                                                </ng-container>
                                            <ng-container *ngIf="!contactChart.Contacts" #noContacts>
                                                <tr>
                                                    <td width= "100%" colspan="4">
                                                        {{contactChart.MobileNo}}<span class="widget-subheading" style="text-align: center; color: royalblue;"><b >No Contact</b></span>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                            
                                        </tbody>
                                        
                                    </table>
                                    <ng-template #table let-link='link'>
                                        <ng-container  *ngFor="let data of link; let i = index;">
                                            
    
                                            <tr style="text-align:left;"> 
                                                <td width="3%" >
                                                    {{ i+1 }}
                                                </td >
                                            
                                                <td width="30%" style="text-align: left;">
                                                    <b>{{ data.mbl }} </b> 
                                                </td >
                                                <td width="30%" style="text-align: left;">
                                                    <b>{{ data.contacted }} </b> 
                                                </td >
                                                <td width="30%" style="text-align: left;">
                                                    <b>{{ data.level }} </b> 
                                                </td>
                                            </tr>
                                        
                                        
                                        </ng-container>
                                    </ng-template>

                                    <pagination-controls (pageChange)="p = $event" maxSize="5" autoHide="true" class="pagination"></pagination-controls>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
