<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                  <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                  </span>
              </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
              <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
              </span>
          </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
          <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
              <span class="btn-icon-wrapper">
                  <i class="fa fa-ellipsis-v fa-w-6"></i>
              </span>
        </button>
        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner"> 
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading"><a routerLink="/" routerLinkActive="mm-active" [routerLinkActiveOptions]="{ exact: true }"><i class="metismenu-icon pe-7s-graph2"></i>Dashboard</a></li>
                <li class="app-sidebar__heading">Components</li>
                <li>
                   <!-- <a href="#"><i class="metismenu-icon pe-7s-repeat"></i>Projects<i class="metismenu-state-icon pe-7s-angle-down caret-left"></i></a>
                    <ul>
                        <li><a routerLink="/projects/create" routerLinkActive="mm-active"><i class="metismenu-icon"></i>Create Project</a></li>
                        <li><a routerLink="/projects" routerLinkActive="mm-active" [routerLinkActiveOptions]="{ exact: true }"><i class="metismenu-icon"></i>Search Projects</a></li>
                        
                    </ul>-->
                </li>
                <!-- <li><a routerLink="/projects" routerLinkActive="mm-active"><i class="metismenu-icon pe-7s-keypad"></i>Projects</a></li> -->
                <li><a routerLink="/traces" routerLinkActive="mm-active"><i class="metismenu-icon pe-7s-menu"></i>Logs</a></li>
                <li><a routerLink="/registrations" routerLinkActive="mm-active"><i class="metismenu-icon pe-7s-menu"></i>Registrations</a></li>
                <li><a routerLink="/infectedPeople" routerLinkActive="mm-active"><i class="metismenu-icon pe-7s-menu"></i>Infected People</a></li>
                <li>
                    <a href="#"><i class="metismenu-icon pe-7s-network"></i>Trace<i class="metismenu-state-icon pe-7s-angle-down caret-left"></i></a>
                      <ul> 
                        <li><a routerLink="/tracereport/chart" routerLinkActive="mm-active"><i class="metismenu-icon"></i>Chart View</a></li>
                        <li><a routerLink="/tracereport/list" routerLinkActive="mm-active"><i class="metismenu-icon"></i>List View</a></li>
                        <li><a routerLink="/tracereport/tree" routerLinkActive="mm-active"><i class="metismenu-icon"></i>Tree View</a></li>
                    </ul>
                </li>
                <li class="app-sidebar__heading">Reports</li>
                <li>
                    <a href="#"><i class="metismenu-icon pe-7s-repeat"></i>Abstract<i class="metismenu-state-icon pe-7s-angle-down caret-left"></i></a>
                <!--      <ul> 
                        <li><a routerLink="/report/department" [queryParams]="{type: 'Departments'}" routerLinkActive="mm-active"><i class="metismenu-icon"></i>Departments</a></li>
                        <li><a routerLink="/report/taluks" [queryParams]="{type: 'Taluks'}" routerLinkActive="mm-active"><i class="metismenu-icon"></i>Taluks</a></li>
                        <li><a routerLink="/report/engineer" [queryParams]="{type: 'Engineers'}" routerLinkActive="mm-active"><i class="metismenu-icon"></i>Engineers</a></li>
                        <li><a routerLink="/report/financial-year" [queryParams]="{type: 'FinancialYear'}" routerLinkActive="mm-active"><i class="metismenu-icon"></i>Financial Year</a></li>
                        <li><a routerLink="/report/project-status" [queryParams]="{type: 'ProjectStatus'}" routerLinkActive="mm-active"><i class="metismenu-icon"></i>Project Status</a></li>
                    </ul>-->
                </li>
                <li>
                    <a href="#"><i class="metismenu-icon pe-7s-network"></i>Detailed<i class="metismenu-state-icon pe-7s-angle-down caret-left"></i></a>
                 <!--     <ul>
                        <li><a routerLink="/report-details/department" [queryParams]="{type: 'Departments'}" routerLinkActive="mm-active"><i class="metismenu-icon"></i>Departments</a></li>
                        <li><a routerLink="/report-details/taluks" [queryParams]="{type: 'Taluks'}" routerLinkActive="mm-active"><i class="metismenu-icon"></i>Taluks</a></li>
                        <li><a routerLink="/report-details/engineer" [queryParams]="{type: 'Engineers'}" routerLinkActive="mm-active"><i class="metismenu-icon"></i>Engineers</a></li>
                        <li><a routerLink="/report-details/financial-year" [queryParams]="{type: 'FinancialYear'}" routerLinkActive="mm-active"><i class="metismenu-icon"></i>Financial Year</a></li>
                        <li><a routerLink="/report-details/project-status" [queryParams]="{type: 'ProjectStatus'}" routerLinkActive="mm-active"><i class="metismenu-icon"></i>Project Status</a></li>
                    </ul> -->
                </li>
            </ul>
        </div>
    </div>
</div>