<div class="app-header header-shadow">
    <div class="app-header__logo">
        <div><img *ngIf="!clicked" width="45" src="assets/images/logo.png" alt="WorkSoft"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" [ngClass]="!clicked ? 'hamburger close-sidebar-btn hamburger--elastic' : 'hamburger close-sidebar-btn hamburger--elastic is-active'" (click)="mobuileviewChanged()" data-class="closed-sidebar">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            </div>
        </div>

    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
            <span class="btn-icon-wrapper">
                <i class="fa fa-ellipsis-v fa-w-6"></i>
            </span>
        </button>
        </span>
    </div>
    <div class="app-header__content">
        <div *ngIf="clicked">&nbsp;&nbsp;<img *ngIf="clicked" width="45" src="assets/images/logo.png" alt="WorkSoft">&nbsp;&nbsp;</div> 

        <div style="color: dodgerblue;"><b>CONTACT TRACING SYSTEM, GOVERNMENT OF KARNATAKA</b></div> 

        <div class="app-header-left">

        </div>
        <div class="app-header-right">
            <div class="header-btn-lg pr-0">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                            <div class="btn-group">
                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                    <img width="42" class="rounded-circle" src="assets/images/userpic.png" alt="">
                                    <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                </a>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                    <button type="button" tabindex="0" class="dropdown-item">User Account</button>
                                    <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" routerLink="login" tabindex="0" class="dropdown-item">Logout</button>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content-left  ml-3 header-user-info">
                            <div class="widget-heading">
                                Mobile Tracing
                            </div>
                            <div class="widget-subheading">
                                Team
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>