<div [ngClass]="addClass ? 'app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header closed-sidebar' : 'app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header'">
    <app-header (changeClass)=changeClass($event)></app-header>
    <!-- <app-ui-settings></app-ui-settings> -->
    <div class="app-main">
        <app-menubar></app-menubar>
        <div class="app-main__outer">
            <router-outlet></router-outlet>
            <!-- <app-wrapper-footer></app-wrapper-footer> -->
        </div>
    </div>
</div>