<div class="app-container">
    <div class="login">
        <div class="login no-gutters row">
            <div class="d-none d-lg-block col-lg-4">
                <div class="slider-light">
                    <div class="slick-slider">
                        <div>
                            <div class="position-relative login d-flex justify-content-center align-items-center bg-plum-plate" tabindex="-1">
                                <div class="slide-img-bg" style="background-image: url('../assets/images/originals/city.jpg');"></div>
                                <div class="slider-content">
                                    <h3 style="color: white; text-align: center;"><strong>CONTACT TRACING SYSTEM</strong>  <br/> GOVERNMENT OF KARNATAKA</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                    <div class="app-logo"></div>
                    <h4 class="mb-0">
                        <span class="d-block">Welcome back</span></h4>
                    <div class="divider row"></div>
                    <div>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="username" class="">Username</label>
                                        <input formControlName="username" placeholder="Username" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                            <div *ngIf="f.username.errors.required">Username is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="examplePassword" class="">Password</label>
                                        <input formControlName="password" placeholder="Password here..." type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="divider row"></div>
                            <div class="d-flex align-items-center">
                                <div class="ml-auto"><a routerLink="/" class="btn-lg btn btn-link">Recover Password</a>
                                    <button [disabled]="loading" class="btn btn-primary btn-lg">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>