<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="metismenu-icon pe-7s-menu icon-gradient bg-mean-fruit">
                  </i>
                </div>
                <div>Infected People
                </div>
            </div>
            <div class="page-title-actions">
                <button class="mb-4 mr-4 btn-transition btn btn-outline-primary" (click)="onOpenModal(addInfected)">Add New</button>
            </div>
        </div> 
    </div>
</div>

<div class="fly-div">
    <div class="req-div1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title col-lg-4">Infected People</h5>
                                <div class="col-lg-8">
                                    <div class="header-right">
                                        <div class="actions">
                                            <ul class="icon-set">
                                            <!--    <li class="filter" (click)="onOpenModal(tableFilterModal)" title="Filtering"><img src="./assets/images/filter-icon-new.png" alt="" class="img-fluid"></li>
                                               --> <li class="excel" (click)="expoerExcel()" title="Export Excel"><img src="./assets/images/excel-icon.png" alt="" class="img-fluid"></li>
                                                <li class="pdf" (click)="exportPDF()" title="Export PDF"><img src="./assets/images/pdf-icon.png" alt="" class="img-fluid"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span  style="position: absolute; right: 733px; top: 89px; color: red; font-weight: 500; font-size: 14px;"></span>
                          
                            <table class="mb-0 table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"> 
                                <thead>
                                    <tr>
                                            <th colspan="4" style="text-align: center; font-size: medium;"><strong>Infected People</strong></th>
                                        </tr>
                                        <tr>
                                            <th>#</th>
                                            <th >Mobile Number</th>
                                            
                                            <th >Unique Id</th>
                                            <th >Date</th>
                                            <th >Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="infectedPeople?.length != 0">
                                    <tr *ngFor="let infected of infectedPeople; index as i">
                                        <td scope="row" width="3%" class="text-center">{{i + 1}}</td>
                                        <td scope="row" width="20%" class="text-center">{{infected.MobileNo ? infected.MobileNo : ''}}</td>
                                        <td scope="row" width="20%" class="text-center" >{{infected.SourceBlueTooth ? infected.SourceBlueTooth : ''}}</td>
                                        <td scope="row" width="20%" class="text-center" >{{(infected.Time ? infected.Time: "") | date:'medium' }}</td>
                                        <td width="15%" class="text-center">
                                                    <button  type="button" id="trace" class="btn btn-primary btn-sm" routerLink="/tracereport/chart/{{infected.MobileNo}}">Trace</button>&nbsp;&nbsp;
                                                    <swal
                                                        #deleteSwal
                                                        title="Are You Sure ?"
                                                        text="This cannot be undone"
                                                        icon="error"
                                                        [showCancelButton]="true"
                                                        [focusCancel]="true"
                                                        (confirm)="deleteFile(infected.MobileNo)">
                                                      <img src="./assets/images/delete-row.png" alt="" style="width: 30px; height: 30px;border: 0;"></swal>
                                                      <button type="button" id="trace" class="btn btn-danger btn-sm" [swal]="deleteSwal">Delete</button>
                                        </td>                                     
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #tableFilterModal class="modal-dialog modal-lg">
    <app-common-filter (closeModel)="modalClose()" (searchProject)="filter($event)" [allStatusTypeSelectedItem]="StatusTypeSelectedItem" [allTaluksSelectedItems]="allTaluksSelectedItems" [allEngineersSelectedItems]="allEngineersSelectedItems" 
          [allFinancialYearSelectedItems]="allFinancialYearSelectedItems" [allDepartmentsSelectedItems]="allDepartmentsSelectedItems" [allStatusType]="allStatusType"
        [allTaluks]="allTaluks" [allEngineers]="allEngineers"   [allFinancialYear]="allFinancialYear" [allDepartments]="allDepartments"></app-common-filter>
</ng-template>

<ng-template #addInfected >
    <div class="modal-body" style="width: 30vw; font-size: medium;">

    <div class="app-main__inner">
        <div class="app-main__inner" >
            <div class="app-page-title">
                <div class="export-data pull-right">
                    <button type="button" class="close close-btn" aria-label="Close" (click)="modalClose()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-keypad icon-gradient bg-mean-fruit">
                          </i>
                        </div>
                        <div>Add New Details</div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="form-holder col-sm-12" >
            <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form [formGroup]="infectedForm" (ngSubmit)="onSubmit(infectedForm)" style="font-size: 10;">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <label for="MobileNo" class="">Mobile No</label>
                                        <input id="MobileNo" formControlName="MobileNo" placeholder="Enter Mobile Number" type="input" class="form-control">
                                        <div *ngIf="submitted && f.mobile_no.errors" class="text-danger">
                                            <div *ngIf="f.mobile_no.errors.required">Mobile Number is required</div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
    
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <label for="AffectedDate" class="">Date</label> &nbsp;&nbsp;
                                        <mat-form-field style="width: 85%;">
                                            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="AffectedDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                        <div *ngIf="submitted && f.AffectedDate.errors" class="text-danger">
                                            <div *ngIf="f.AffectedDate.errors.required">Date is required</div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
    
    
                            <button class="mt-2 btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</ng-template>

<table id="basic-table" style="display: none;">
    <thead>
        <tr>
                <th colspan="4" style="text-align: center; font-size: medium;"><strong>Infected People</strong></th>
        </tr><tr>
                <th>#</th>
                <th >Mobile Number</th>
                
                <th >Unique Id</th>
                <th >Date</th>
        </tr>
    </thead>
    <tbody *ngIf="infectedPeople?.length != 0">
        <tr *ngFor="let infected of infectedPeople; index as i">
            <td scope="row" width="3%" class="text-center">{{i + 1}}</td>
            <td scope="row" width="20%" class="text-center">{{infected.MobileNo ? infected.MobileNo : ''}}</td>
            <td scope="row" width="20%" class="text-center" >{{infected.SourceBlueTooth ? infected.SourceBlueTooth : ''}}</td>
            <td scope="row" width="20%" class="text-center" >{{(infected.Time ? infected.Time: "") | date:'medium' }}</td>
        </tr>
    </tbody>
</table>