.modal-header.project-filter {
    background: rgb(227, 228, 230);
}

.modal-filter-wrapper {
    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .single-item {
            width: 48%;
            margin-bottom: 15px;
            label {
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #014B2C;
                margin-bottom: 7px;
            }
        }
    }
}

.modal-content {
    width: 700px !important;
}