<!-- <ng-template #tableFilterModal class="modal-dialog modal-lg"> -->
<div class="modal-content">
    <div class="modal-header project-filter">
        <h4 class="modal-title pull-left">Apply<span> Filter</span></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="modal-body">
        <div class="modal-filter-wrapper">
            <div class="items">
                <div class="single-item">
                    <label for="">Taluks</label>
                    <ng-multiselect-dropdown [placeholder]="'Select Taluk'" [data]="allTaluks" [settings]="allTaluksSettings" [(ngModel)]="allTaluksSelectedItems" (onSelect)="onItemSelect($event, 'taluks')" (onDeSelect)="onItemDeSelect($event, 'taluks')">
                    </ng-multiselect-dropdown>
                </div>
                <div class="single-item">
                    <label for="">Departments</label>
                    <ng-multiselect-dropdown [placeholder]="'Select Departments'" [data]="allDepartments" [settings]="allDepartmentsSettings" [(ngModel)]="allDepartmentsSelectedItems" (onSelect)="onItemSelect($event, 'departments')" (onDeSelect)="onItemDeSelect($event, 'departments')">
                    </ng-multiselect-dropdown>
                </div>
                
                <div class="single-item">
                    <label for="">ENGINEERS</label>

                    <ng-multiselect-dropdown [placeholder]="'Select ENGINEERS'" [data]="allEngineers" [settings]="allEngineersSettings" [(ngModel)]="allEngineersSelectedItems" (onSelect)="onItemSelect($event, 'Engineers')" (onDeSelect)="onItemDeSelect($event, 'Engineers')">
                    </ng-multiselect-dropdown>
                </div>
                <div class="single-item">
                    <label for="">Status Types</label>
                    <ng-multiselect-dropdown [placeholder]="'Status Types'" [data]="allStatusType" [settings]="allStatusTypeSettings" [(ngModel)]="allStatusTypeSelectedItem" (onSelect)="onItemSelect($event, 'status')" (onDeSelect)="onItemDeSelect($event, 'status')">
                    </ng-multiselect-dropdown>
                </div>
                <div class="single-item" >
                    <label for="">Financial Year</label>
                    <ng-multiselect-dropdown [placeholder]="'Financial Year'" [data]="allFinancialYear" [settings]="allFinancialYearSettings" [(ngModel)]="allFinancialYearSelectedItems" (onSelect)="onItemSelect($event, 'financial_year')" (onDeSelect)="onItemDeSelect($event, 'financial_year')">
                    </ng-multiselect-dropdown>
                </div>
                
            
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button  (click)="onApplyProjectFilter()" class="edit-button apply-filter btn btn-primary">
                <span _ngcontent-fdd-c12="" class="plh">Apply</span>
                Filters
            </button>
    </div>
</div>
<!-- </ng-template> -->