/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: .88rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    text-align: left !important;
    background-color: #fff !important;
}

.dataTables_length select {
    height: 33px;
    width: 49px;
    background-color: white;
    color: #212427;
}

.dataTables_filter input {
    height: 33px;
    background-color: white;
    color: #212427;
}

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: none !important
}

table.dataTable {
    border-collapse: none !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    position: relative !important;
    padding: .5rem .75rem !important;
    margin-left: -1px !important;
    line-height: 1.25 !important;
    color: #007bff !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
}

table.dataTable.no-footer {
    border-bottom: none !important
}

app-wrapper-footer {
    position: fixed;
    width: 85%;
    bottom: 0;
}

.icon-set li {
    display: inline-block;
}

.icon-set li img {
    width: 40px;
    display: inline-block;
}

.icon-set {
    padding: 2px 15px;
    display: flex;
}

.header-right {
    float: right;
}

.login {
    height: 100vh !important;
}

.app-main .app-main__inner {
    padding: 10px 30px 0px !important;
    flex: 1;
}

.table td,
.table th {
    vertical-align: middle !important;
}

.sector-dashboard-wrapper {
    .chart-holder-with-title {
        .title-action-holder {
            label {
                margin: 0;
                font-size: 16px;
                font-weight: 500;
                color: #10453B;
                font-family: "Oswald", sans-serif !important;
            }
        }
    }
    owl-carousel-o {
        display: block;
        height: 100%;
        .owl-carousel .owl-item img {
            height: 580px;
            object-fit: cover;
        }
        .owl-carousel {
            display: block;
            height: 100%;
            .owl-stage-outer {
                height: 100%;
                owl-stage {
                    display: block;
                    height: 100%;
                }
            }
        }
        .owl-item {
            position: relative;
            .project-info {
                position: absolute;
                bottom: 20px;
                width: 100%;
                background: rgba(235, 255, 235, 0.75);
                display: flex;
                justify-content: space-between;
                padding: 10px 20px;
                align-items: center;
                .name {
                    h2 {
                        color: #10453B;
                        font-weight: 600;
                        font-size: 22px;
                        span {
                            color: #3d3d3d;
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
                ul.cost-details {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    width: 50%;
                    justify-content: flex-end;
                    li {
                        border-left: 1px solid #ccc9c9;
                        padding-left: 20px;
                        margin-left: 20px;
                        color: #10453B;
                        font-weight: 600;
                        font-size: 22px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        position: relative;
                        padding-top: 30px;
                        span {
                            color: #3d3d3d;
                            font-size: 16px;
                            font-weight: 400;
                            position: absolute;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
    .owl-carousel .owl-dots.disabled,
    .owl-carousel .owl-nav.disabled {
        display: block;
    }
    .owl-carousel {
        .owl-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            display: flex !important;
            justify-content: space-between;
            padding: 0 30px;
            .owl-prev,
            .owl-next {
                padding: 0;
                margin: 0;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                font-size: 21px;
                border-radius: 20px;
                background: #082721;
            }
        }
    }
    .global-table-wrapper {
        .mat-table th.mat-header-cell {
            padding-top: 60px;
        }
        .table-container {
            margin: 0;
        }
        .table-header {
            position: absolute;
            left: 0;
            transform: translate3d(0, 0, 0);
            width: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background: #e1f2f4; //#B8D7B1;
            box-shadow: none;
            padding: 2px 15px;
            top: 0;
            h5 {
                font-size: 16px;
                font-weight: 400;
                color: #10453B;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.sector-dashboard-wrapper {
    margin-top: -26px;
}

.app-theme-white .app-page-title {
    background: rgba(255, 255, 255, 0.45);
    padding: 28px 0px 1px 28px;
}

.sector-dashboard-wrapper .global-table-wrapper .table-header {
    height: 50px !important;
    margin-top: 1px !important;
    width: 98% !important;
    margin-left: 15px !important;
}

.fsize-2 {
    font-size: 1rem !important;
}

.mat-paginator {
    background: #ffffff;
    border: 1px solid #e0e0e0;
}

.mat-paginator {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 85% !important;
    }
}
.global-create-modal-wrapper .icon-title-holder h2 {
    padding-left: 70px;
    font-size: 18px;
  
    
}

@media (min-width:1200px) and (max-width:1454px){
    .accordion .card .card-header {
        padding-left: 0;
    }
    .accordion-section-title.clearfix{
        width: 100% !important;
        padding-left: 47px !important;
        position: relative;
        padding-right: 100px !important;
    }
    .panel-title {
        width: 100%;
    }
    .card-header{
        padding-right: 0;
    }
    .count1 {
        position: absolute;
        right: 14%;
        top: 50%;
        transform: translateY(-50%);
    }
}


.global-create-modal-wrapper {
    .mat-field-input {
        width: 100%;
    }
    textarea {
        height: 70px;
        resize: none;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
        color: #212020;
        font-weight: 500;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background: green;
    }
    .mat-select-arrow,
    .mat-select-value {
        color: #212020;
    }
    .mat-button-wrapper {
        svg {
            fill: #212020;
        }
    }
    .form-holder {
        margin-top: 20px;
    }
    .icon-title-holder {
        position: relative;
        i {
            width: 60px;
            height: 60px;
            background: #10453B;
            color: #fff;
            line-height: 60px;
            text-align: center;
            font-size: 30px;
            border-radius: 5px;
            position: absolute;
            top: -40px;
        }
        h2 {
            padding-left: 70px;
            font-size: 18px;
        }
    }
    .button-holder {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        button {
            text-transform: uppercase;
            border-radius: 3px;
            font-weight: 300;
            padding: 5px 20px;
            &:first-child {
                margin-right: 20px;
            }
        }
    }

    
   
}

.cdk-overlay-container {
    z-index: 1051;
}




.location-modal-wrapper {
    width: 400px;
    max-width: initial;
    .modal-content {
        border: 0;
        .modal-header {
            padding: 10px 20px;
            background: rgb(70, 197, 250);
            background: -moz-linear-gradient(90deg, rgba(70, 197, 250, 1) 0%, rgba(50, 69, 164, 1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(70, 197, 250, 1) 0%, rgba(50, 69, 164, 1) 100%);
            background: linear-gradient(90deg, rgba(70, 197, 250, 1) 0%, rgba(50, 69, 164, 1) 100%);
            // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#46c5fa", endColorstr="#3245a4", GradientType=1);
            color: #fff;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            i {
                margin-right: 25px;
                font-size: 26px;
            }
            h4 {
                font-size: 20px;
                font-weight: 400;
            }
            button {
                margin: 0;
                padding: 0;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translate3d(0, -50%, 0);
                span {
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    background: #03f903;
                    display: block;
                }
            }
        }
        .modal-body {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    border-bottom: 1px solid #ddd;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    display: flex;
                    span {
                        width: 65%;
                        font-size: 15px;
                        color: #484848;
                        &.value {
                            width: 35%;
                            font-weight: 600;
                            color: #6d6d6d;
                            font-size: 14px;
                        }
                        &.delayed {
                            font-size: 14px;
                            padding: 2px 10px;
                            border-radius: 100%;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

modal-container .modal .fade .show {
    display: -webkit-box !important;
    -webkit-box-align: center;
    align-items: center;
    height: auto !important;
    .modal-lg {
        width: 100%;
    }
}


.ngx-pagination .current {
    padding: 0.48rem 0.7rem !important;
    background: #495057 !important;
}  

.pagination li a {
    color: #495057 !important;
}

.tab-content > .tab-pane:not(.active) { display: block; height: 0; overflow-y: hidden; }

.scrollbar-sidebar{ overflow: scroll;}

.modal {
    text-align: center;
    padding: 0!important;
  }
  
  .modal::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  
.oc-border {
	border: 1px solid rgb(63, 155, 247);
}

.oc-background {
    background-color: rgba(100, 148, 237, 0.212);
    
}

.oc-name {
	font-family: serif;
	white-space: nowrap;
}

.oc-designation {
	font-family: sans-serif;
	font-style: italic;
	white-space: nowrap;
}

.oc-img img{
    width: 100px;
    height: 100px;
    content: url("assets/images/userpic.png");
    border-radius: 50% !important
}

.search-results {
    width: 90vw;
    overflow: scroll;
  }


  .align-chart {
    overflow: visible;
    scroll-snap-align: center;

    scroll-snap-type: both mandatory;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-y: repeat(50vw);
    scroll-snap-points-x: repeat(50vw);

    max-width: 85vw;
  }