<!--<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="metismenu-icon pe-7s-graph2 icon-gradient bg-mean-fruit">
                  </i>
                </div>
                <div>Dashboard
                    <div class="page-title-subheading">Dashboard with all graph and informations.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br/>
<div class="fly-div">
    <div class="req-div1">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg">
                    <ul class="payment-details">
                        <li class="total">
                            <span class="badge"><i class="fas fa-sort-amount-up"></i></span>
                            <div class="info">
                                <div class="group justify-content-end">
                                    <div class="item">
                                        <h4>Total Projects</h4>
                                        <p>{{dashboardData ? dashboardData.Count : 0 }}</p>
                                    </div> 
                                </div>
                                <div class="group">
                                    <div class="item">
                                        <h4 class="text-left">Sanctioned Cost</h4>
                                        <p class="text-left"><i class="fas fa-rupee-sign"></i> {{(dashboardData ? (dashboardData.Santioned/costDivision).toFixed(2) : '0') | number }} Lakh</p>
                                    </div>
                                    <div class="item">
                                        <h4>Received Cost</h4>
                                        <p><i class="fas fa-rupee-sign"></i> {{(dashboardData ? (dashboardData.Received/costDivision).toFixed(2) : '0') | number}} Lakh</p>
                                    </div>
                                </div>
                                <div class="group">
                                    <div class="item">
                                        <h4 class="text-left">Expenses</h4>
                                        <p class="text-left"><i class="fas fa-rupee-sign"></i> {{(dashboardData ? (dashboardData.Expenses/costDivision).toFixed(2) : '0') | number}} Lakh</p>
                                    </div>
                                    <div class="item">
                                        <circle-progress [titleFontSize]="'12px'" [percent]="50 " [radius]="20" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [showSubtitle]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
                                        </circle-progress>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="paid">
                            <span class="badge"><i class="fas fa-rupee-sign"></i></span>
                            <div class="info">
                                <div class="group justify-content-end">
                                    <div class="item">
                                        <h4>Completed</h4>
                                        <p>{{dashboardData ? dashboardData.Count : 0 }}</p>
                                    </div>
                                </div>
                                <div class="group">
                                    <div class="item">
                                        <h4 class="text-left">Sanctioned Cost</h4>
                                        <p class="text-left">{{dashboardData ? (dashboardData.Santioned/costDivision).toFixed(2) : 0 }} Lakh</p>
                                    </div>
                                    <div class="item">
                                        <h4>Received Cost</h4>
                                        <p>
                                            <span>{{ dashboardData ? (dashboardData.Received/costDivision).toFixed(2) : 0 }} Lakh</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="group">
                                    <div class="item">
                                        <h4 class="text-left">Expenses</h4>
                                        <p>
                                            <span>{{dashboardData ? (dashboardData.Expenses/costDivision).toFixed(2) : 0 }} Lakh</span>
                                        </p>
                                    </div>
                                    <div class="item">
                                        <circle-progress [titleFontSize]="'12px'" [percent]="50" [radius]="20" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [showSubtitle]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
                                        </circle-progress>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="progress-project">
                            <span class="badge"><i class="fas fa-chalkboard"></i></span>
                            <div class="info">
                                <div class="group justify-content-end">
                                    <div class="item">
                                        <h4>Progress</h4>
                                        <p>{{dashboardData ? dashboardData.Count : 0 }}</p>
                                    </div>
                                </div>
                                <div class="group">
                                    <div class="item">
                                        <h4 class="text-left">Sanctioned Cost</h4>
                                        <p class="text-left">{{dashboardData ? (dashboardData.Santioned/costDivision).toFixed(2) : 0 }} Lakh</p>
                                    </div>
                                    <div class="item">
                                        <h4>Received Cost</h4>
                                        <p>{{dashboardData ? (dashboardData.Received/costDivision).toFixed(2) : 0 }} Lakh</p>
                                    </div>
                                </div>
                                <div class="group">
                                    <div class="item">
                                        <h4 class="text-left">Expenses</h4>
                                        <p>{{dashboardData ? (dashboardData.Expenses/costDivision).toFixed(2) : 0 }} Lakh</p>
                                    </div>
                                    <div class="item">
                                        <circle-progress [titleFontSize]="'12px'" [percent]="50 " [radius]="20" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [showSubtitle]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
                                        </circle-progress>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="progress-tender-holder">
                            <ul>
                                <li class="blue-bg">
                                    <span class="badge"><i class="fas fa-align-left"></i></span>
                                    <div class="info">
                                        <div class="group justify-content-end">
                                            <div class="item m-r-20">
                                                <h4 class="text-left">Not Started |</h4>
                                                <p class="text-left">{{ dashboardData ? (dashboardData.Count) : 0 }}</p>
                                            </div>
                                            <div class="item">
                                                <h4 class="text-right">| Sanctioned Cost</h4>
                                                <p class="text-right">{{ dashboardData ? (dashboardData.Sanctioned/costDivision).toFixed(2) : 0 }} Lakh</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--<li class="blue-bg">
                                    <span class="badge"><i class="fas fa-align-right"></i></span>
                                    <div class="info">
                                        <div class="group justify-content-end">
                                            <div class="item m-r-20">
                                                <h4 class="text-left">Tendering |</h4>
                                                <p class="text-left">50</p>
                                            </div>
                                            <div class="item">
                                                <h4 class="text-right">| Sanctioned Cost</h4>
                                                <p class="text-right">50 Lakh</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>---<
                            </ul>
                        </li>
                    </ul>
                    <ul class="payment-details">
                        <li class="alerts">
                            <!--  <span class="badge">
                                <i class="fas fa-bell"></i>
                            </span> --<>
                            <div class="alert-holder">
                                <ul class="alerts-list">
                                    <li [routerLink]="['projects/recently_completed']">
                                        <img src="./assets/images/right-icon.png" class="img-responsive" />
                                        <div class="al-line"> RECENTLY COMPLETED</div>
                                        <div class="count">{{dashboardData ? (dashboardData.Count) : 0 }}</div>
                                    </li>
                                    <li [routerLink]="['projects/delayed']">
                                        <img src="./assets/images/wrong-icon.png" class="img-responsive" />
                                        <div class="al-line">DELAYED</div>
                                        <div class="count">{{dashboardData ? (dashboardData.Count) : 0 }}</div>
                                    </li>
                                    <li [routerLink]="['projects/not_geo_tagged']" >
                                        <img src="./assets/images/warning-icon.png" class="img-responsive" />
                                        <div class="al-line">NOT GEO-TAGGED</div>
                                        <div class="count">{{dashboardData?.Count}}</div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7">
                    <div class="panel-item chart">
                        <div class="chart-holder-with-title">
                            <div class="title-action-holder">
                                <h2>Financial Report</h2>
                                <div class="chart-blog">
                                    <mat-checkbox [checked]="Graphdata.FinancialReport" (change)="showAmount($event,'FinancialReport',Graphdata.FinancialReport)">Show Amount</mat-checkbox>
                                    <span class="export-chart" [matMenuTriggerFor]="exportFinancialMenus">...</span>
                                    
                                    <mat-menu #exportFinancialMenus="matMenu">
                                        <button mat-menu-item (click)="downloadCanvas('FinancialChart')">Export PNG</button>
                                        <!-- <button mat-menu-item (click)="ExportModel(ReportModal)">Graph Data</button>  --<>
                                        <button mat-menu-item   (click)="ExportModel(financialReport)">Graph Data</button> 
                                    </mat-menu>
                                </div>
                                    
                            </div>
                            <div class="chart-holder" id="FinancialChart">
                                <!-- <canvas height="250" baseChart [datasets]="financialReportChartData" (chartClick)="chartClicked($event, ReportModal,'Financial_Report')" [labels]="financialReportChartLabels" [options]="projectStatusChartOptions" [plugins]="projectStatusChartPlugins" [legend]="projectStatusChartLegend" [chartType]="projectStatusChartType">
                                </canvas> --<>
                                <canvas height="250" baseChart [datasets]="financialReportChartData" (chartClick)="chartClicked($event, financialReportModal,'Financial_Report')" [labels]="financialReportChartLabels" [options]="projectStatusChartOptions" [plugins]="projectStatusChartPlugins" [legend]="projectStatusChartLegend" [chartType]="projectStatusChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel-item chart">
                        <div class="chart-holder-with-title">
                            <div class="title-action-holder">
                                <h2>Delayed Projects</h2>
                                 <div class="chart-blog">

                                     <mat-checkbox [checked]="Graphdata.DelayedProjects"   (change)="showAmount($event,'DelayedProjects',Graphdata.DelayedProjects)">Show Amount</mat-checkbox>
                                     <span class="export-chart" [matMenuTriggerFor]="exportDelayedProjects">...</span>
                                     
                                     <mat-menu #exportDelayedProjects="matMenu">
                                         <button mat-menu-item (click)="downloadCanvas('DelayedProjects')">Export PNG</button>
                                         <!-- <button mat-menu-item (click)="ExportModel(ReportModal)">Graph Data</button>  --<>
                                         <button mat-menu-item (click)="ExportModel(DelayedReports)">Graph Data</button> 
                                        </mat-menu>
                                    </div>
                                </div>
                            <div class="chart-holder" id="DelayedProjects">
                                <canvas height="250" baseChart [datasets]="projectDelayedChartData" (chartClick)="chartClicked($event, DelayedProjects,'Delayed_Projects')" [labels]="projectDelayedChartLabels" [options]="projectStatusChartOptions" [plugins]="projectStatusChartPlugins" [legend]="projectStatusChartLegend" [chartType]="projectStatusChartType">
                                    </canvas>
                                    <!-- <canvas height="250" baseChart [datasets]="projectDelayedChartData" (chartClick)="chartClicked($event, ReportModal,'Delayed_Projects')" [labels]="projectDelayedChartLabels" [options]="projectStatusChartOptions" [plugins]="projectStatusChartPlugins" [legend]="projectStatusChartLegend" [chartType]="projectStatusChartType">
                                    </canvas> --<>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel-item chart">
                        <div class="chart-holder-with-title">
                            <div class="title-action-holder">
                                <h2>Project Status Report</h2>
                                <div class="chart-blog">

                                    <mat-checkbox [checked]="Graphdata.ProjectStatus" (change)="showAmount($event,'ProjectStatus',Graphdata.ProjectStatus)">Show Amount</mat-checkbox>
                                    <span class="export-chart" [matMenuTriggerFor]="ProjectStatus">...</span>
                                    
                                    <mat-menu #ProjectStatus="matMenu">
                                        <button mat-menu-item (click)="downloadCanvas('ProjectStatus')">Export PNG</button>
                                        
                                        <!-- <button mat-menu-item (click)="ExportModel(ReportModal)">Graph Data</button>  -<->
                                        <button mat-menu-item (click)="ExportModel(ProjectStatusRepo)">Graph Data</button> 
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="chart-holder"id="ProjectStatus">
                                <!-- <canvas height="229" baseChart [datasets]="projectStatusChartData" (chartClick)="chartClicked($event, ReportModal,'Project_Status_Report')" [labels]="projectStatusChartLabels" [options]="projectStatusChartOptions" [plugins]="projectStatusChartPlugins" [legend]="projectStatusChartLegend" [chartType]="projectStatusChartType">
                                </canvas> --<>
                                <canvas height="229" baseChart [datasets]="projectStatusChartData" (chartClick)="chartClicked($event, ProjectStatusReport,'Project_Status_Report')" [labels]="projectStatusChartLabels" [options]="projectStatusChartOptions" [plugins]="projectStatusChartPlugins" [legend]="projectStatusChartLegend" [chartType]="projectStatusChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel-item chart">
                        <div class="chart-holder-with-title">
                            <div class="title-action-holder">
                                <h2>Progress Report</h2>
                                <div class="chart-blog">
                                    
                                    <mat-checkbox [checked]="Graphdata.ProgressReport"  (change)="showAmount($event,'ProgressReport',Graphdata.ProgressReport)">Show Amount</mat-checkbox>
                                    <span class="export-chart" [matMenuTriggerFor]="exportProgressReport">...</span>
                                    
                                    <mat-menu #exportProgressReport="matMenu">
                                        <button mat-menu-item (click)="downloadCanvas('ProgressReport')">Export PNG</button>
                                        <!-- <button mat-menu-item (click)="ExportModel(ReportModal)">Graph Data</button>  -- >
                                        <button mat-menu-item (click)="ExportModel(ProgressReportes)">Graph Data</button> 
                                  </mat-menu>
                            </div>
                            </div>
                            <div class="chart-holder" id="ProgressReport">
                                <!-- <canvas height="229" baseChart [datasets]="projectProgressChartData" (chartClick)="chartClicked($event, ReportModal,'Progress_Report')" [labels]="projectProgressChartLabels" [options]="projectStatusChartOptions" [plugins]="projectStatusChartPlugins" [legend]="projectStatusChartLegend" [chartType]="projectStatusChartType">
                                 </canvas> - ->
                                    <canvas height="229" baseChart [datasets]="projectProgressChartData" (chartClick)="chartClicked($event, ProgressReport,'Progress_Report')" [labels]="projectProgressChartLabels" [options]="projectStatusChartOptions" [plugins]="projectStatusChartPlugins" [legend]="projectStatusChartLegend" [chartType]="projectStatusChartType">
                                    </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5">
                    <div class="padding-holder">
                        <div class="panel-item p-b-0">
                            <div class="req-hd">
                                <h1>IMPLEMENTING AGENCY PROGRESS</h1>
                            </div>
                            <div class="m-rq">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="req-wh1" style="height: 380px;">
                                            <div *ngFor="let item of agencyData" class="rep-dtl">
                                                <div class="row align-items-center">
                                                    <div class="col-sm-4 col-xs-6 date-div">
                                                        <div class="date-div1">{{ item.Department ? item.Department : "dep1" }}</div>
                                                    </div>
                                                    <div class="col-sm-8 col-xs-7">
                                                        <ul class="rp-list" style="cursor: pointer;">
                                                            <li (click)="onAgencyProgressClick(CommonListingModal,item.Department,'DOCUMENTATION','AGENCY_PROGRESS')">
                                                                <div class="rp-dt documentation images-color-code">
                                                                    <div class="rp-dt1">{{ item.DOCUMENTATION ? item.DOCUMENTATION :0 }}</div>
                                                                </div>
                                                            </li>
                                                            <li (click)="onAgencyProgressClick(CommonListingModal,item.Department,'PROGRESS','AGENCY_PROGRESS')">
                                                                <div class="rp-dt progressing documents-color-code">
                                                                    <div class="rp-dt1">{{ item.PROGRESS ? item.PROGRESS : 0 }}</div>
                                                                </div>
                                                            </li>
                                                            <li (click)="onAgencyProgressClick(CommonListingModal,item.Department,'DELAYED','AGENCY_PROGRESS')">
                                                                <div class="rp-dt delayed delayed-color-code">
                                                                    <div class="rp-dt1">{{ item.Delayed ? item.Delayed : 0 }}</div>
                                                                </div>
                                                            </li>
                                                            <li (click)="onAgencyProgressClick(CommonListingModal,item.Department,'INTERRUPTED','AGENCY_PROGRESS')">
                                                                <div class="rp-dt interupted interupted-color-code">
                                                                    <div class="rp-dt1">{{ item.INTERRUPTED ? item.INTERRUPTED : 0 }}</div>
                                                                </div>
                                                            </li>
                                                            <li (click)="onAgencyProgressClick(CommonListingModal,item.Department,'COMPLETED','AGENCY_PROGRESS')">
                                                                <div class="rp-dt completed completed-color-code">
                                                                    <div class="rp-dt1">{{ item.COMPLETED ? item.COMPLETED : 0 }}</div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="legends-holder">
                                            <li>
                                                <span class="documentation images-color-code"></span>
                                                <p>Documentation</p>
                                            </li>
                                            <li>
                                                <span class="progressing documents-color-code"></span>
                                                <p>Progress</p>
                                            </li>
                                            <li>
                                                <span class="delayed delayed-color-code"></span>
                                                <p>Delayed</p>
                                            </li>
                                            <li>
                                                <span class="interupted interupted-color-code"></span>
                                                <p>Interrupted</p>
                                            </li>
                                            <li>
                                                <span class="completed completed-color-code"></span>
                                                <p>Completed</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="padding-holder">
                        <div class="panel-item no-padding" style="border: 7px solid #fff">
                            <agm-map style="height: 100%;" [latitude]="22.132654" [longitude]="84.037267" [zoom]="8">
                                <ng-container *ngFor="let place of dashboardData?.Projects">
                                    <agm-marker (markerClick)="onGoogleMapIconClick(locationPinDetailsModal, place)" [latitude]="place['Latitude']" [longitude]="place['Longitude']" *ngIf="place['DisplayStatus'] === 'PROGRESS'" [iconUrl]="'http://104.211.226.54/Dmf1/assets/images/map-icon1.png'">
                                    </agm-marker>
                                    <agm-marker (markerClick)="onGoogleMapIconClick(locationPinDetailsModal, place)" [latitude]="place['Latitude']" [longitude]="place['Longitude']" *ngIf="place['DisplayStatus'] === 'COMPLETED'" [iconUrl]="'http://104.211.226.54/Dmf1/assets/images/map-icon2.png'">
                                    </agm-marker>
                                    <agm-marker (markerClick)="onGoogleMapIconClick(locationPinDetailsModal, place)" [latitude]="place['Latitude']" [longitude]="place['Longitude']" *ngIf="place['DisplayStatus'] === 'DELAYED'" [iconUrl]="'http://104.211.226.54/Dmf1/assets/images/map-icon4.png'">
                                    </agm-marker>
                                    <agm-marker (markerClick)="onGoogleMapIconClick(locationPinDetailsModal, place)" [latitude]="place['Latitude']" [longitude]="place['Longitude']" *ngIf="place['DisplayStatus'] === 'ESTIMATION'" [iconUrl]="'http://104.211.226.54/Dmf1/assets/images/map-icon3.png'">
                                    </agm-marker>
                                    <agm-marker (markerClick)="onGoogleMapIconClick(locationPinDetailsModal, place)" [latitude]="place['Latitude']" [longitude]="place['Longitude']" *ngIf="place['DisplayStatus'] === 'ADMIN APPROVAL'" [iconUrl]="'http://104.211.226.54/Dmf1/assets/images/map-icon5.png'">
                                    </agm-marker>
                                </ng-container>
                            </agm-map>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="padding-holder">
                        <div class="panel-item">
                            <div class="req-hd">
                                <h1>DAILY PROGRESS</h1>
                            </div>
                            <div class="m-rq">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="req-wh1 p-t-0">
                                            <div *ngFor="let progress of dashboardData?.ProgressData" class="today">
                                                <div class="row">
                                                    <div class="col-sm-5 col-xs-6 day-div">
                                                        <div class="day-div1">{{ progress.DateBucket }}</div>
                                                    </div>
                                                    <div class="col-sm-7 col-xs-6 date-right">
                                                        <ul class="rp-list">
                                                            <li (click)="onAgencyProgressClick(CommonListingModal,progress.DateBucket,'IMAGES','DAILY_PROGRESS')">
                                                                <div class="rp-dt bl-dt1 images-color-code">
                                                                    <div class="rp-dt1">{{ progress.IMAGES }}</div>
                                                                </div>
                                                            </li>
                                                            <li (click)="onAgencyProgressClick(CommonListingModal,progress.DateBucket,'DOCUMENTS','DAILY_PROGRESS')">
                                                                <div class="rp-dt bl-dt1 documents-color-code">
                                                                    <div class="rp-dt1">{{ progress.DOCUMENTS }}</div>
                                                                </div>
                                                            </li>
                                                            <li (click)="onAgencyProgressClick(CommonListingModal,progress.DateBucket,'PAYMENTS','DAILY_PROGRESS')">
                                                                <div class="rp-dt bl-dt1 payments-color-code">
                                                                    <div class="rp-dt1">{{ progress.PAYMENTS }}</div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="legends-holder m-t-20">
                                                <li>
                                                    <span class="documentation images-color-code"></span>
                                                    <p>Images</p>
                                                </li>
                                                <li>
                                                    <span class="progressing documents-color-code"></span>
                                                    <p>Documents</p>
                                                </li>
                                                <li>
                                                    <span class="delayed payments-color-code"></span>
                                                    <p>Payments</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="padding-holder">
                        <div class="panel-item">
                            <div class="req-hd">
                                <h1>RECENTLY COMPLETED</h1>
                            </div>
                            <div class="accordion">
                                <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
                                    <accordion-group *ngFor="let mainproject of dashboardData?.CompletedData" >
                                        <a class="accordion-section-title clearfix" accordion-heading type="button" style="width: 21em;">
                                            {{ mainproject.Bucket }}
                                            <div class="count1">{{ mainproject.TOTALPROJECT }}</div>
                                        </a>
                                        <div style="max-height: 300px;" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="scroll-holder">
                                            <div [routerLink]="['projects/details', project.Id]" style="margin-left: 10px; margin-right: 10px; cursor: pointer;" *ngFor="let project of mainproject.Projects" class="geo-div">
                                                <ul class="geo-list1 comp">
                                                    <li [ngClass]="{'delayed': project.DisplayStatus === 'DELAYED',
                                                        'estimation': project.DisplayStatus === 'ESTIMATION',
                                                        'progressing': project.DisplayStatus === 'PROGRESSING',
                                                        'completed': project.DisplayStatus === 'COMPLETED',
                                                        'interupted': project.DisplayStatus === 'INTERRUPTED'}">{{ project.ProjectUniqueId }}</li>
                                                    <!-- <li>2HRS AGO</li> -- >
                                                    <li [ngClass]="{
                                                    'delayed-border': project.DisplayStatus === 'DELAYED',
                                                    'estimation-border': project.DisplayStatus === 'ESTIMATION',
                                                    'progressing-border': project.DisplayStatus === 'PROGRESSING',
                                                    'completed-border': project.DisplayStatus === 'COMPLETED',
                                                    'interupted-border': project.DisplayStatus === 'INTERRUPTED'}">{{ project.DisplayStatus }}</li>
                                                </ul>
                                                <h5>{{ project.ProjectName }}</h5>
                                                <div class="row">
                                                    <div class="col-sm-9">
                                                        <ul class="geo-list2">
                                                            <li>{{ project.Taluk }}</li>
                                                            <li><img src="./assets/images/rs-icon2.png" class="img-responsive rs-img" />{{ (project.BudgetAllocated/costDivision).toFixed(2) }} Lakh
                                                            </li>
                                                            <li>{{ project.ExecutionDepartment }}</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <circle-progress [titleFontSize]="'12px'" [percent]="project.FinancialProgress" [radius]="20" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [showSubtitle]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
                                                        </circle-progress>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 delay-acc">
                    <div class="padding-holder">
                        <div class="panel-item">
                            <div class="req-hd">
                                <h1>DELAYED PROJECTS</h1>
                            </div>
                            <div class="accordion" >
                                <accordion [isAnimated]="true" [closeOthers]="oneAtATime" >
                                    <accordion-group *ngFor="let item of dashboardData?.DelayedData" >
                                        <a class="accordion-section-title clearfix" accordion-heading type="button" style="width: 21em;">{{ item.Bucket }}
                                            <div class="count1" >{{ item.TOTALPROJECT }}</div></a>
                                        <div style="max-height: 300px;" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="scroll-holder">
                                            <div [routerLink]="['projects/details', project.Id]" style="margin-left: 10px; margin-right: 10px; cursor: pointer;" *ngFor="let project of item.Projects" class="geo-div">
                                                <ul class="geo-list1 comp">
                                                    <li [ngClass]="{
                                                        'delayed': project.ProjectStatus === 'DELAYED',
                                                        'estimation': project.ProjectStatus === 'ESTIMATION',
                                                        'progressing': project.ProjectStatus === 'PROGRESS',
                                                        'completed': project.ProjectStatus === 'COMPLETED',
                                                        'interupted': project.ProjectStatus === 'INTERRUPTED'}">{{ project.ProjectUniqueId }}</li>
                                                    <!-- <li>2HRS AGO</li> -- >
                                                    <li [ngClass]="{
                                                    'delayed-border': project.ProjectStatus === 'DELAYED',
                                                    'estimation-border': project.ProjectStatus === 'ESTIMATION',
                                                    'progressing-border': project.ProjectStatus === 'PROGRESS',
                                                    'completed-border': project.ProjectStatus === 'COMPLETED',
                                                    'interupted-border': project.ProjectStatus === 'INTERRUPTED'}">{{ project.DisplayStatus }}</li>
                                                </ul>
                                                <h5>{{ project.ProjectName }}</h5>
                                                <div class="row">
                                                    <div class="col-sm-9">
                                                        <ul class="geo-list2">
                                                            <li>{{ project.Taluk }}</li>
                                                            <li><img src="./assets/images/rs-icon2.png" class="img-responsive rs-img" />{{ (project.BudgetAllocated/costDivision).toFixed(2) }} Lakh
                                                            </li>
                                                            <li>{{ project.ExecutionDepartment }}</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <circle-progress [titleFontSize]="'12px'" [percent]="project.FinancialProgress" [radius]="20" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [showSubtitle]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
                                                        </circle-progress>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="padding-holder">
                        <div class="panel-item" style="padding: 15px 5px;">
                            <div class="req-hd">
                                <h1 class="d-flex align-items-center">
                                    <span class="m-r-10">NOT GEO-TAGGED</span>
                                    <div _ngcontent-knc-c4="" class="rp-dt bl-dt1">
                                        <div _ngcontent-knc-c4="" class="rp-dt1">{{dashboardData?.NotGeoTaggedProjects.TOTALPROJECT}}</div>
                                    </div>
                                </h1>
                            </div>
                            <div style="max-height: 300px; cursor: pointer;" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="scroll-holder">
                                <ng-container *ngFor="let item of dashboardData?.NotGeoTaggedProjects.Projects">
                                    <div *ngIf="item.DisplayStatus != 'DELAYED'" [routerLink]="['projects/details', item.Id]" style="margin-left: 10px; margin-right: 10px; cursor: pointer;" class="geo-div">
                                        <ul class="geo-list1 comp">
                                            <li [ngClass]="{
                                                'estimation': item.DisplayStatus === 'ESTIMATION',
                                                'progressing': item.DisplayStatus === 'PROGRESSING',
                                                'completed': item.DisplayStatus === 'COMPLETED',
                                                'interupted': item.DisplayStatus === 'INTERRUPTED'}">{{item.ProjectUniqueId}}</li>
                                            <!-- <li>2HRS AGO</li> - ->
                                            <li [ngClass]="{
                                                'estimation-border': item.DisplayStatus === 'ESTIMATION',
                                                'progressing-border': item.DisplayStatus === 'PROGRESSING',
                                                'completed-border': item.DisplayStatus === 'COMPLETED',
                                                'interupted-border': item.DisplayStatus === 'INTERRUPTED'}">{{item.DisplayStatus}}</li>
                                        </ul>
                                        <h5>{{item.ProjectName}}</h5>
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <ul class="geo-list2">
                                                    <li>{{ item.Taluk }}</li>
                                                    <li><img src="./assets/images/rs-icon2.png" class="img-responsive rs-img" />{{ (item.BudgetAllocated/costDivision).toFixed(2) }} Lakh
                                                    </li>
                                                    <li>{{ item.ExecutionDepartment }}</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <circle-progress [titleFontSize]="'12px'" [percent]="item.FinancialProgress" [radius]="20" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [showSubtitle]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
                                                </circle-progress>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #CommonListingModal>
    <div class="global-create-modal-wrapper barChart">
        <div class="modal-body">
            <div class="icon-title-holder col-sm-12">
                <div>
                    <i class="fas fa-list"></i>
                    <h2>{{displayTitle}}</h2>
                </div>
                <div class="export-data pull-right">
                    <!-- <ul class="icon-set"> -- >
                    <span class="excel" (click)="export('Excel')" title="Export Excel"><img src="./assets/images/excel-icon.png" alt="" class="img-fluid"></span>
                    <span class="pdf" (click)="export('PDF')" title="Export PDF"><img src="./assets/images/pdf-icon.png" alt="" class="img-fluid"></span>
                    <button type="button" class="close close-btn" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- </ul> -- >
                </div>
            </div>
            <div class="form-holder col-sm-12" >
                <div class="container-fluid table-view">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered details-table" width="100%">
                        <thead>
                            <tr>
                                <th style="min-width: 40px;">SL NO,</th>
                                <th style="min-width: 300px;">PROJECTNAME</th>
                                <th style="min-width: 70px;">STATUS</th>
                                <th style="min-width: 140px; text-align: right">SANCTIONED (In Lakh)</th>
                                <th style="min-width: 130px; text-align: right">Received (In Lakh)</th>
                                <th style="min-width: 130px; text-align: right">EXPENSES (In Lakh)</th>
                                <th style="min-width: 100px;">GP/WARDNAME</th>
                                <th style="min-width: 100px;">Village/Lane</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let item of agencyProgress;let i = index">
                                <td style="min-width: 40px;">{{i + 1}} </td>
                                <td style="min-width: 300px;"> 
                                  <a [routerLink]="['/project-dashboard', item.Id]"  target="_blank">
                                {{ item.ProjectName ? item.ProjectName : '-' }}
                                    </a></td>
                                <td style="min-width: 70px;">{{item.ProjectStatus}}</td>
                                <td style="min-width: 140px; text-align: right;">{{(item.SanctionedCost/costDivision).toFixed(2)}}</td>
                                <td style="min-width: 130px; text-align: right">{{(item.AwardedCost/costDivision).toFixed(2)}}</td>
                                <td style="min-width: 130px; text-align: right">{{(item.Expenses/costDivision).toFixed(2)}}</td>
                                <td style="min-width: 100px;">
                                    <ng-container *ngIf="item?.IsInBlock">
                                        {{ item?.GPsInfo }}
                                    </ng-container>
                                    <ng-container *ngIf="!item?.IsInBlock">
                                        {{ item?.WardsInfo }}
                                    </ng-container>
                                </td>
                                <td style="min-width: 100px;">
                                    <ng-container *ngIf="item?.IsInBlock">
                                        {{ item?.VillagesInfo }}
                                    </ng-container>
                                    <ng-container *ngIf="!item?.IsInBlock">
                                        {{ item?.LanesInfo }}
                                    </ng-container>
                                </td>
                                
                            </tr> - ->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</ng-template>


<!-- 
<ng-template #ReportModal>
    <div class="global-create-modal-wrapper barChart">
        <div class="modal-body">
            <div class="icon-title-holder col-sm-12">
                <div>
                    <i class="fas fa-list"></i>
                    <h2>Report</h2>
                </div>
                <div class="export-data pull-right">
                    
                    <span class="excel" (click)="Export('Excel')" title="Export Excel"><img src="./assets/images/excel-icon.png" alt="" class="img-fluid"></span>
                    <span class="pdf" (click)="Export('PDF')" title="Export PDF"><img src="./assets/images/pdf-icon.png" alt="" class="img-fluid"></span>
                    <button type="button" class="close close-btn" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                </div>
            </div>
            <div class="form-holder col-sm-12" >
                <div class="container-fluid table-view">
                    <table id="table1" datatable [dtOptions]="dtOptions" class="table table-bordered md-0  details-table">
                        <thead>
                            <tr>
                                <th width="5%">#</th>
                                <th width="30%">Project Name</th>
                                <th width="15%">Project Type</th>
                                <th width="10%">Financial Year</th>
                                <th width="15%">Project Status</th>
                                <th width="5%" style="text-align: center">Financial Progress</th>
                                <th width="5%">Delayed Days</th>
                                <th  width="5%" style="text-align: right">BudgetAllocated (In Lakh)</th>
                                <th width="5%" style="text-align: right">Received (In Lakh)</th>
                                <th width="5%" style="text-align: right">Expenses (In Lakh)</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of agencyProgress;let i = index">
                                <td  width="5%">{{i + 1}} </td>
                                <td width="30%"> {{ item.ProjectName ? item.ProjectName : '-' }}</td>
                                <td width="15%"> {{ item.ProjectType ? item.ProjectType : '-' }}</td>
                                <td width="10%"> {{ item.FinancialYear ? item.FinancialYear : '-' }}</td>
                                <td width="15%"> {{ item.ProjectStatus ? item.ProjectStatus : '-' }}</td>
                                <td width="5%"> {{ item.FinancialProgress ? item.FinancialProgress : 0 }}</td>
                                <td width="5%"> {{ item.DelayedDays ? item.DelayedDays : 0 }}</td>
                                <td width="5%" style="text-align: right;">{{(item.BudgetAllocated/costDivision).toFixed(2)}}</td>
                                <td width="5%" style="text-align: right">{{(item.Received/costDivision).toFixed(2)}}</td>
                                <td width="5%" style="text-align: right">{{(item.Expenses/costDivision).toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template> - ->

<ng-template #financialReportModal>
    <div class="global-create-modal-wrapper barChart">
        <div class="modal-body">
            <div class="icon-title-holder col-sm-12">
                <div>
                    <i class="fas fa-list"></i>
                    <h2>Financial Report</h2>
                </div>
                <div class="export-data pull-right">
                    <!-- <ul class="icon-set"> - ->
                    <span class="excel" (click)="financials('Excel')" title="Export Excel"><img src="./assets/images/excel-icon.png" alt="" class="img-fluid"></span>
                    <span class="pdf" (click)="financials('PDF')" title="Export PDF"><img src="./assets/images/pdf-icon.png" alt="" class="img-fluid"></span>
                    <button type="button" class="close close-btn" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- </ul> - ->
                </div>
            </div>
            <div class="form-holder col-sm-12" >
                <div class="container-fluid table-view">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered details-table" width="100%">
                        <thead>
                            <tr>
                                <th>SL NO</th>
                                <th>Project ID</th>
                                <th>Name</th>
                                <th>Year</th>
                                <th>Category</th>
                                <th style="text-align: right">Cost (In Lakh)</th>
                                <th style="text-align: right">Recevied (In Lakh)</th>
                                <th style="text-align: right">Spent (In Lakh)</th>
                                <th>Status</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of agencyProgress;let i = index">
                                <td>{{i + 1}} </td>
                                <td> {{ item.ProjectUniqueId ? item.ProjectUniqueId : '-' }}</td>
                                <td> {{ item.ProjectName ? item.ProjectName : '-' }}</td>
                                <td> {{ item.FinancialYear ? item.FinancialYear : '-' }}</td>
                                <td> {{ item.Department ? item.Department : '-' }}</td>
                                <td style="text-align: right;">{{(item.BudgetAllocated/costDivision).toFixed(2)}}</td>
                                <td style="text-align: right">{{(item.Received/costDivision).toFixed(2)}}</td>
                                <td style="text-align: right">{{(item.Expenses/costDivision).toFixed(2)}}</td>
                                <td>{{item.ProjectStatus}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Delayed Projects - ->
<ng-template #DelayedProjects>
    <div class="global-create-modal-wrapper barChart">
        <div class="modal-body">
            <div class="icon-title-holder col-sm-12">
                <div>
                    <i class="fas fa-list"></i>
                    <h2>Delayed Projects</h2>
                </div>
                <div class="export-data pull-right">
                    
                    <span class="excel" (click)="Delayeddata('Excel')"title="Export Excel"><img src="./assets/images/excel-icon.png" alt="" class="img-fluid"></span>
                    <span class="pdf" (click)="Delayeddata('PDF')" title="Export PDF"><img src="./assets/images/pdf-icon.png" alt="" class="img-fluid"></span>
                    <button type="button" class="close close-btn" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- </ul> -- >
                </div>
            </div>
            <div class="form-holder col-sm-12" >
                <div class="container-fluid table-view">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered details-table" width="100%">
                        <thead>
                            <tr>
                                <th>#,</th>
                                <th>Name</th>
                                <th>Days</th>
                                <th>Bucket</th>
                                <th style="text-align: right">cost (In Lakh)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of agencyProgress;let i = index">
                                <td>{{i + 1}} </td>
                                <td>{{item.ProjectName}}</td>
                                <td> 
                                {{ item.DelayedDays ? item.DelayedDays : '-' }}
                                  </td>
                                <td>{{item.DelayedBucket}}</td>
                                <td style="text-align: right;">{{(item.BudgetAllocated/costDivision).toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Project Status Report- ->
<ng-template #ProjectStatusReport>
    <div class="global-create-modal-wrapper barChart">
        <div class="modal-body">
            <div class="icon-title-holder col-sm-12">
                <div>
                    <i class="fas fa-list"></i>
                    <h2>Project Status Report</h2>
                </div>
                <div class="export-data pull-right">
                    
                    <span class="excel" (click)="projectStatus('Excel')" title="Export Excel"><img src="./assets/images/excel-icon.png" alt="" class="img-fluid"></span>
                    <span class="pdf" (click)="projectStatus('PDF')" title="Export PDF"><img src="./assets/images/pdf-icon.png" alt="" class="img-fluid"></span>
                    <button type="button" class="close close-btn" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- </ul> - ->
                </div>
            </div>
            <div class="form-holder col-sm-12" >
                <div class="container-fluid table-view">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered details-table" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Display Status</th>
                                <th>Total Project</th>
                                <th style="text-align: right">cost (In Lakh)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of agencyProgress;let i = index">
                                <td>{{i + 1}} </td>
                                <td> 
                                {{ item.ProjectStatus ? item.ProjectStatus : '-' }}
                              </td>
                                <td>{{item.ProjectName}}</td>
                                <td style="text-align: right;">{{(item.BudgetAllocated/costDivision).toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Progress Report- ->
<ng-template #ProgressReport>
    <div class="global-create-modal-wrapper barChart">
        <div class="modal-body">
            <div class="icon-title-holder col-sm-12">
                <div>
                    <i class="fas fa-list"></i>
                    <h2>Progress Report</h2>
                </div>
                <div class="export-data pull-right">
                    
                    <span class="excel" (click)="progress('Excel')" title="Export Excel"><img src="./assets/images/excel-icon.png" alt="" class="img-fluid"></span>
                    <span class="pdf" (click)="progress('PDF')" title="Export PDF"><img src="./assets/images/pdf-icon.png" alt="" class="img-fluid"></span>
                    <button type="button" class="close close-btn" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- </ul> - ->
                </div>
            </div>
            <div class="form-holder col-sm-12" >
                <div class="container-fluid table-view">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered details-table" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th >Bucket</th>
                                <th style="text-align: right">cost (In Lakh)</th>
                 
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of agencyProgress;let i = index">
                                <td>{{i + 1}} </td>
                                <td> 
                                {{ item.ProjectName ? item.ProjectName : '-' }}
                              </td>
                                <td>{{item.ProgressBucket}}</td>
                                <td style="text-align: right;">{{(item.BudgetAllocated/costDivision).toFixed(2)}}</td>
                               
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- financialReport - ->
<ng-template #financialReport>
    <div class="global-create-modal-wrapper barChart">
        <div class="modal-body">
            <div class="icon-title-holder col-sm-12">
                <div>
                    <i class="fas fa-list"></i>
                    <h2>Financial Report</h2>
                </div>
                <div class="export-data pull-right">
                    <!-- <ul class="icon-set"> -- >
                    <span class="excel" (click)="financialsexport('Excel')" title="Export Excel"><img src="./assets/images/excel-icon.png" alt="" class="img-fluid"></span>
                    <span class="pdf" (click)="financialsexport('PDF')" title="Export PDF"><img src="./assets/images/pdf-icon.png" alt="" class="img-fluid"></span>
                    <button type="button" class="close close-btn" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- </ul> - ->
                </div>
            </div>
            <div class="form-holder col-sm-12" >
                <div class="container-fluid table-view">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered details-table" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Year</th>
                                <th>No Of Projects</th>
                                <th style="text-align: right">SANCTIONED (In Lakh)</th>
                                <th style="text-align: right">Received (In Lakh)</th>
                                <th style="text-align: right">EXPENSES (In Lakh)</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of finance;let i = index">
                                <td>{{i + 1}} </td>
                                <td> {{ item.Year ? item.Year : '-' }}</td>
                                <td>{{item.TotalProjects}}</td>
                                <td style="text-align: right;">{{(item.BUDGETALLOCATED/costDivision).toFixed(2)}}</td>
                                <td style="text-align: right">{{(item.RECIEVED/costDivision).toFixed(2)}}</td>
                                <td style="text-align: right">{{(item.EXPENSES/costDivision).toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<!-- DelayedReport - ->
<ng-template #DelayedReports>

    <div class="global-create-modal-wrapper barChart">
        <div class="modal-body">
            <div class="icon-title-holder col-sm-12">
                <div>
                    <i class="fas fa-list"></i>
                    <h2>Delayed Projects</h2>
                </div>
                <div class="export-data pull-right">
                    
                    <span class="excel" (click)="DelayedReportes('Excel')"title="Export Excel"><img src="./assets/images/excel-icon.png" alt="" class="img-fluid"></span>
                    <span class="pdf" (click)="DelayedReportes('PDF')" title="Export PDF"><img src="./assets/images/pdf-icon.png" alt="" class="img-fluid"></span>
                    <button type="button" class="close close-btn" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- </ul> -- >
                </div>
            </div>
            <div class="form-holder col-sm-12" >
                <div class="container-fluid table-view">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered details-table" width="100%">
                        <thead>
                            <tr>
                                <th>#,</th>
                                
                                <th>Bucket</th>
                                <th>Total Project</th>
                                <th style="text-align: right">SANCTIONED (In Lakh)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Delaye;let i = index">
                                <td>{{i + 1}} </td>
                              
                                <td>{{item.Bucket}}</td>
                                <td>{{item.TOTALPROJECT}}</td>
                                <td style="text-align: right;">{{(item.BUDGETALLOCATED/costDivision).toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>



<!-- Project Status Report-- >
<ng-template #ProjectStatusRepo>
    <div class="global-create-modal-wrapper barChart">
        <div class="modal-body">
            <div class="icon-title-holder col-sm-12">
                <div>
                    <i class="fas fa-list"></i>
                    <h2>Project Status Report</h2>
                </div>
                <div class="export-data pull-right">
                    
                    <span class="excel" (click)="ProjectStatusReportes('Excel')" title="Export Excel"><img src="./assets/images/excel-icon.png" alt="" class="img-fluid"></span>
                    <span class="pdf" (click)="ProjectStatusReportes('PDF')" title="Export PDF"><img src="./assets/images/pdf-icon.png" alt="" class="img-fluid"></span>
                    <button type="button" class="close close-btn" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- </ul> - ->
                </div>
            </div>
            <div class="form-holder col-sm-12" >
                <div class="container-fluid table-view">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered details-table" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Display Status</th>
                                <th>Total Project</th>
                                <th style="text-align: right">SANCTIONED (In Lakh)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ProjectStatuss;let i = index">
                                <td>{{i + 1}} </td>
                                <td> 
                                {{ item.DisplayStatus ? item.DisplayStatus : '-' }}
                              </td>
                                <td>{{item.TOTALPROJECT}}</td>
                                <td style="text-align: right;">{{(item.BUDGETALLOCATED/costDivision).toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Progress Report-- >
<ng-template #ProgressReportes>
    <div class="global-create-modal-wrapper barChart">
        <div class="modal-body">
            <div class="icon-title-holder col-sm-12">
                <div>
                    <i class="fas fa-list"></i>
                    <h2>Progress Report</h2>
                </div>
                <div class="export-data pull-right">
                    
                    <span class="excel" (click)="progressReports('Excel')" title="Export Excel"><img src="./assets/images/excel-icon.png" alt="" class="img-fluid"></span>
                    <span class="pdf" (click)="progressReports('PDF')" title="Export PDF"><img src="./assets/images/pdf-icon.png" alt="" class="img-fluid"></span>
                    <button type="button" class="close close-btn" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- </ul> - ->
                </div>
            </div>
            <div class="form-holder col-sm-12" >
                <div class="container-fluid table-view">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered details-table" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th >Bucket</th>
                                <th>Total Project</th>
                                <th style="text-align: right">SANCTIONED (In Lakh)</th>
                 
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ProgressData;let i = index">
                                <td>{{i + 1}} </td>
                                <td> 
                                {{ item.Bucket ? item.Bucket : '-' }}
                              </td>
                                <td>{{item.TOTALPROJECT}}</td>
                                <td style="text-align: right;">{{(item.BUDGETALLOCATED/costDivision).toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>-->