.rep-dtl {
    position: relative;
    &:before {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translate3d(-50%);
        background: #AED1A9;
    }
}



.fly-div {
    min-height: 100vh;
    margin-top: -63px;
}

.fly-div1 {
    background: #FAF8F0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 5px solid #f0ffd8;
    border-bottom: 5px solid #f0ffd8;
}

.fly-div1 h1 {
    margin: 0px;
    text-transform: uppercase;
    color: #10453B;
    font-size: 20px;
    font-weight: 800;
    background: url(../../../../assets/images/pms-icon.png) no-repeat left top;
    padding-left: 40px;
    padding-bottom: 15px;
    margin-top: 5px;
}

.fl-search {
    float: right;
    background: #fff;
    border-radius: 20px;
    width: 100%;
    margin-right: -70px;
}

.fl-in {
    width: 78% !important;
    background: rgba(224, 224, 224, 0.25);
    box-shadow: none;
    border: none;
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 40px;
    color: #2A684E;
    font-weight: 300;
    float: left;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #bcd8b6 !important;
    border-left: 0px !important;
}

.fl-btn1 {
    float: left;
    width: 22%;
    padding: 3px 10px;
    padding-right: 20px;
    background: url(../../../../assets/images/search-icon1.png) no-repeat right 10px center rgba(224, 224, 224, 0.25);
    color: #000;
    position: relative;
    z-index: 1;
    font-weight: 300;
    font-size: 12px;
    border: none;
    border-right: none;
    cursor: pointer;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #bcd8b6;
    border-right: 0px;
}

.fl-search:hover .fl-btn1 {
    background: url(../../../../assets/images/search-icon1-hover.png) no-repeat right 10px center rgba(224, 224, 224, 0.25);
}

.fly-buttons {
    float: right
}

.fly-button {
    padding: 7px 12px;
    padding-left: 35px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    font-weight: 600;
    font-size: 10px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    text-transform: uppercase;
    color: #014B2C;
    border-radius: 20px;
}

.fly-button1 {
    background: url(../../../../assets/images/excel-icon1.png) no-repeat left 10px center #F6F5F5;
}

.fly-button1:hover {
    background: url(../../../../assets/images/excel-icon1-hover.png) no-repeat left 10px center #F6F5F5;
    color: #ee7a41;
}

.fly-button2 {
    background: url(../../../../assets/images/pdf-icon1.png) no-repeat left 10px center #F6F5F5;
    margin-right: 0px;
}

.fly-button2:hover {
    background: url(../../../../assets/images/pdf-icon1-hover.png) no-repeat left 10px center #F6F5F5;
    color: #ee7a41;
}

.fly-div2 {
    background: #36635b;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fl-head {
    background: #FAF8F0;
    padding-top: 8px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #d3d3d3;
    color: #616167;
    text-align: left;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.fl-detail {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #616167;
    border-left: 1px solid #d3d3d3;
    font-weight: 600;
    text-align: left;
    font-size: 12px;
    min-height: 40px;
    background: #fff;
}

.fl-box {
    overflow: hidden;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.fl-box1 {
    overflow: hidden;
    border-bottom: none
}

.fl-box-lr {
    padding-left: 0px;
    padding-right: 0px;
}

.fly-div3 {
    background: url(../../../../assets/images/bg.jpg) repeat;
}

.fly-detail {
    text-transform: uppercase;
    font-size: 14px;
    background: #ffffff;
    border: 5px solid #fff;
    border-bottom: 2px solid #fff;
    line-height: 16px;
    font-weight: 500;
    color: #2F2F2F;
    text-align: center;
    line-height: 22px;
}

.dgr-tab,
.lgr-tab {
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 4px solid #fff;
    min-height: 60px;
}

.dgr-tab {
    background: #cde6c9;
}

.lgr-tab {
    background: #f6f5f5;
}

.line1,
.line2,
.line3,
.line4,
.line5,
.line6,
.line7,
.line8,
.line9 {
    border-right: 2px solid #fff;
    border-bottom: 3px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    vertical-align: middle;
    border-radius: 3px;
}

.line8,
.line9 {
    font-weight: 400;
}

.gn-line {
    border-left: 7px solid #7AB957;
}

.or-line {
    border-left: 7px solid #FF9616;
}

.bl-line {
    border-left: 7px solid #2F80ED;
}

.re-line {
    border-left: 7px solid #D91B32;
}

.sta-line1 {
    color: #7AB957;
}

.sta-line2 {
    color: #FF9616;
}

.sta-line3 {
    color: #2F80ED;
}

.sta-line4 {
    color: #D91B32;
}

.progress-bar1 {
    position: relative;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.progress-bar1 div {
    position: absolute;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.progress-bar1 div span {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    left: 12.5px;
    top: 12.5px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff;
    font-weight: 600;
}

.progress-bar1 .background {
    background-color: #b3cef6;
}

.progress-bar1 .rotate {
    clip: rect(0 50px 100px 0);
    background-color: #4b86db;
}

.progress-bar1 .left {
    clip: rect(0 50px 100px 0);
    opacity: 1;
    background-color: #b3cef6;
}

.progress-bar1 .right {
    clip: rect(0 50px 100px 0);
    transform: rotate(180deg);
    opacity: 0;
    background-color: #4b86db;
}

@keyframes toggle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.prec {
    top: 30px;
    position: relative;
    font-size: 30px;
    visibility: hidden
}

.prec:after {
    content: '%';
}

.circle {
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    /*background-color: #E6F4F7;*/
}

.active-border {
    position: relative;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #f53579;
    background-image: linear-gradient(91deg, transparent 50%, #dedede 50%), linear-gradient(90deg, #1e75ba 50%, transparent 50%);
    display: block;
    margin-left: auto;
    margin-right: auto
}

.plh1 {
    color: #737272;
    font-size: 13px;
}

.plh2 {
    color: #059CF1;
}

.gry {
    color: #C4C4C4;
}

.yel {
    color: #FFC635;
}

.plh {
    font-weight: 300;
}

.req-div1 {
    padding-bottom: 30px;
}

.padding-holder {
    height: 100%;
    padding: 30px 0 0;
    .panel-item {
        height: 100%;
        background: #fff;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, .18);
        border-radius: 5px;
        padding: 15px;
        iframe {
            border: 7px solid #fff;
            border-radius: 5px;
        }
        &.no-padding {
            padding: 0;
        }
        ul.legends-holder {
            margin: 0 -15px;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            background: #B8D7B1;
            padding: 5px 15px;
            li {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                display: flex;
                align-items: center;
                margin-right: 20px;
                font-size: 12px;
                span {
                    width: 12px;
                    height: 12px;
                    background: #000;
                    border-radius: 6px;
                    margin-right: 10px;
                }
                p {
                    margin: 0;
                }
            }
        }
    }
}

.req1,
.req2,
.req3,
.req4,
.req5 {
    // margin: 30px 0 0;
    background: #fff;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, .18);
    border-radius: 5px;
    padding: 15px;
}

.req-div1 h1 {
    margin: 0px;
    font-weight: 800;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #10453B;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left
}

.req3 h1 {
    border-left: 7px solid #ED7940;
}

.m-rq h1 {
    border-left: 7px solid #0359B5;
}

.req4 h1 {
    border-left: 7px solid #059CF1;
}

.req5 h1 {
    border-left: 7px solid #95CC29;
}

.req-hd {
    border-bottom: 1px solid #AED1A9;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.req-wh {
    background: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 20px;
}

.req-wh h2 {
    margin: 0px;
    font-weight: 800;
    font-size: 20px;
    line-height: 21px;
    text-transform: uppercase;
    color: #0254B3;
    border-bottom: 2px solid #0254B3;
    padding-bottom: 10px;
}

.req1 .req-left h2 {
    // background: url(../../../../assets/images/treq-icon.png) no-repeat left top;
    padding-left: 40px;
}

.req1 .req-right h2 {
    // background: url(../../../../assets/images/alloc-icon.png) no-repeat left top;
    padding-left: 40px;
}

.req2 .req-left h2 {
    // background: url(../../../../assets/images/gp-icon.png) no-repeat left top;
    padding-left: 40px;
}

.req2 .req-right h2 {
    // background: url(../../../../assets/images/ash-icon.png) no-repeat left top;
    padding-left: 40px;
}

.req2 .req-left1 h2 {
    // background: url(../../../../assets/images/completed-icon.png) no-repeat left top;
    padding-left: 40px;
}

.req2 .req-right1 h2 {
    // background: url(../../../../assets/images/violated-icon.png) no-repeat left top;
    padding-left: 40px;
}

.req-dtl {
    border-bottom: 0.5px solid #D1DFED;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #737272;
    font-weight: 600;
    font-size: 12px;
}

.rt2 {
    font-weight: 800;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
}

.req-dtl:last-child {
    border: none
}

.req-left,
.req-left1 {
    padding-right: 5px;
}

.req-right,
.req-right1 {
    padding-left: 5px;
}

.plh3 {
    font-family: 'Open Sans', sans-serif;
}

.no-dt {
    float: right;
    font-size: 12px;
    color: #4F4F4F;
    padding: 0px;
    margin: 0px;
    width: 38px;
    height: 38px;
    background: radial-gradient(16.50px at 50% 50%, #FFFFFF 0%, #F3F3F3 29.9%, #EEEEEE 43.26%, #E2E2E2 100%);
    border-radius: 50%;
    text-align: center;
    display: table;
    margin-top: -13px;
    font-weight: 400;
}

.no-dt1 {
    vertical-align: middle;
    display: table-cell;
}

.bl-dt {
    background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
}

.or-dt {
    background: linear-gradient(90deg, #FFB347 0%, #FFCC33 100%);
}

.pi-dt {
    background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
}

.re-dt {
    background: linear-gradient(90deg, #CB2D3E 0%, #EF473A 100%);
}

.gr-dt {
    background: linear-gradient(90deg, #56AB2F 0%, #A8E063 100%);
}

.bl-dt1 {
    background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);
}

.req-wh1 {
    background: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    margin-bottom: 7px;
}

.req-wh1 h3 {
    margin: 0px;
    color: #4F4F4F;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 15px;
    font-weight: 600;
    text-align: center;
    font-weight: 800;
}

.rep-hd {
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.rep-dtl {
    color: #4F4F4F;
    padding-bottom: 15px;
}

.rp-list {
    padding: 0px;
    margin: 0px;
    position: relative;
    float: right
}

.rp-list li {
    list-style: none;
    display: inline-block;
    margin-right: 3px;
}

.rp-dt {
    font-size: 15px;
    color: #4F4F4F;
    padding: 0px;
    margin: 0px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    text-align: center;
    display: table;
    // margin-top: -13px;
    font-weight: 400;
    position: relative;
    left: 4%;
    // margin-bottom: 25px;
    padding: 2px;
}

.rp-dt1 {
    vertical-align: middle;
    display: table-cell;
    background: linear-gradient(180deg, #fff 15.94%, #FAFAFA 41.77%, #C1C1C1 83.57%);
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600
}

.date-div {
    padding-right: 0px;
    // padding-bottom: 25px;
    font-size: 13px;
    font-weight: 600;
    color: #4F4F4F;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
}

.date-div1 {
    border-bottom: 1px solid #AED1A9;
    position: relative;
    z-index: 2;
    font-size: 11px;
    font-weight: 700;
    margin-right: 5px;
}

.date-right {
    border-left: 1px solid #AED1A9;
}

.m-rq .req-wh1 {
    padding-top: 20px;
}

.req-wh2 {
    background: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(176, 75, 34, 0.584);
    border-radius: 8px;
    margin-bottom: 20px;
    min-height: 400px;
}

.date-ex {
    border: none
}

.date-ex .date-div1 {
    background: none;
    font-weight: 700;
    font-size: 17px;
}

.req-map {
    margin: 30px 0 0;
    background: #fff;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, .18);
    border-radius: 5px;
    iframe {
        margin: 0;
        padding: 0;
        border-radius: 13px;
    }
}

.req-map img {
    width: 100%;
    border-radius: 13px;
}

.day-div {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #10453B;
    margin-top: 12px;
}

.today {
    border-bottom: 1px solid #AED1A9;
    padding-top: 5px;
    padding-bottom: 3px;
}

.today .date-right {
    border: none
}

.today .rp-dt {
    margin-bottom: 0px;
    margin-top: 0px;
}

.today-div .m-rq .req-wh1 {
    padding-top: 0px;
    margin-top: -10px;
}

.count {
    float: right;
    color: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin-top: -6px;
    padding-top: 3px;
    padding: 4px 10px;
}

.al-line {
    position: relative;
    top: 15px;
}

.alerts-list li:nth-child(1) {
    border: 1px solid rgba(208, 239, 160, 0.5);
    color: #02C20F;
    background: #fff;
}

.alerts-list li:nth-child(1) img {
    background: rgba(208, 239, 160, 0.5);
}

.alerts-list li:nth-child(1) .count {
    background: linear-gradient(90deg, #78b954 0%, #9fc989 100%);
}

.alerts-list li:nth-child(2) {
    border: 1px solid rgba(220, 36, 36, 0.5);
    color: #DC2424;
    background: rgba(255, 255, 255, 0.9);
    padding-bottom: 22px;
}

.alerts-list li:nth-child(2) img {
    background: rgba(253, 163, 163, 0.5);
}

.alerts-list li:nth-child(2) .count {
    background: linear-gradient(90deg, #d7162c 0%, #e76171 100%);
}

.alerts-list li:nth-child(3) {
    border: 1px solid rgba(47, 128, 237, 0.5);
    color: #2F80ED;
    background: rgba(234, 251, 255, 0.9);
    padding-bottom: 22px;
}

.alerts-list li:nth-child(3) img {
    background: rgba(153, 218, 255, 0.5);
}

.alerts-list li:nth-child(3) .count {
    background: linear-gradient(90deg, #38bdf7 0%, #3894f7 100%);
}

.alerts-list li:nth-child(4) {
    border: 1px solid rgba(255, 167, 81, 0.5);
    color: #FFA733;
    background: rgba(255, 249, 234, 0.9);
    padding-bottom: 22px;
}

.alerts-list li:nth-child(4) img {
    background: rgba(255, 201, 58, 0.5);
}

.alerts-list li:nth-child(4) .count {
    background: linear-gradient(90deg, #ff8b0f 0%, #f7c75c 100%);
}

.alerts-list li:nth-child(5) {
    border: 1px solid rgba(255, 167, 81, 0.5);
    color: #FFA733;
    background: rgba(255, 249, 234, 0.9);
    padding-bottom: 22px;
}

.alerts-list li:nth-child(5) img {
    background: rgba(255, 201, 58, 0.5);
}

.alerts-list li:nth-child(5) .count {
    background: linear-gradient(90deg, #ff8b0f 0%, #f7c75c 100%);
}

.accordion,
.accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.accordion {
    overflow: hidden;
    margin-bottom: 0px;
}


/*----- Section Titles -----*/

.accordion-section-title {
    width: 100%;
    padding: 8px;
    padding-left: 25px;
    display: inline-block;
    border-bottom: 1px solid #e7e7e7;
    background: url(../../../../assets/images/rc-icon.png) no-repeat left 10px center, url(../../../../assets/images/button-icon.png) no-repeat right 10px center #B8D7B1;
    transition: all linear 0.15s;
    /* Type */
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    color: #1F1F1F;
    margin-bottom: 3px;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-transform: uppercase;
}

.delay-acc .accordion-section-title {
    background-color: #FC6767;
}

.accordion-section-title {
    text-decoration: none !important;
    outline: none !important
}

.delay-acc .accordion-section-title.active,
.delay-acc .accordion-section-title:hover {
    background-color: #FC6767;
}


/*----- Section Content -----*/

.accordion-section-content {
    padding: 0px 15px 0px 15px;
    color: #3b3b3b;
    font-size: 14px;
    line-height: 20px;
}

.count1 {
    color: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    padding: 3px 8px;
    background: linear-gradient(90deg, #78b954 0%, #9fc989 100%);
    float: right;
}

.delay-acc .count1 {
    background: linear-gradient(90deg, #ff8b0f 0%, #f7c75c 100%);
}

.delay-acc .req1 {
    padding-bottom: 45px;
}

.geo-div {
    background: linear-gradient(135deg, #ffffff 1%, #ffffff 50%, #f7f7f7 50%, #f7f7f7 100%);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 13px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 3px;
}

.geo-list1 {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 11px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.geo-list1 li {
    display: inline-block;
    margin-right: 3px;
}

.geo-list1 li:nth-child(1) {
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 20px;
}

.geo-list1 li:nth-child(2) {
    color: #1F1F1F;
    padding: 2px 15px;
    text-transform: uppercase;
    border: 1px dashed #C4C4C4;
    line-height: 20px;
    border-radius: 10px;
    background: url(../../../../assets/images/hour-icon.png) no-repeat left 5px center;
    padding-left: 25px;
    font-size: 10px;
}

.geo-list1 li:nth-child(3) {
    padding: 2px 15px;
    text-transform: uppercase;
    line-height: 20px;
    border-radius: 10px;
    font-size: 10px;
}

.comp li:nth-child(3) {
    color: #608E71;
    border: 1px dashed rgba(187, 210, 151, 0.841667);
}

.delay li:nth-child(3) {
    color: #F1C40F;
    border: 1px dashed rgba(255, 195, 113, 0.841667);
}

.comp li:nth-child(1) {
    background: #608E71;
}

.delay li:nth-child(1) {
    background: #FFC371;
}

.geo-div h5 {
    margin: 0px;
    color: #536976;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #B8D7B1;
    padding-bottom: 5px;
    margin-top: 3px;
}

.geo-list2 {
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
}

.geo-list2 li {
    display: inline-block;
    color: #536976;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.geo-list2 li:first-child {
    background: url(../../../../assets/images/geo-icon1.png) no-repeat left center;
    padding-left: 20px;
    border-right: 2px solid #C4C4C4;
    padding-right: 10px;
    margin-right: 5px;
}

.geo-list2 li:nth-child(2) {
    background: url(../../../../assets/images/geo-icon2.png) no-repeat left center;
    padding-left: 20px;
}

.geo-list2 li:last-child {
    display: block;
    background: url(../../../../assets/images/geo-icon3.png) no-repeat left center;
    padding-left: 20px;
    font-size: 10px;
}

.a-circ {
    margin-top: 7px;
}

.not-rq {
    padding-bottom: 10px;
}

.rs-img {
    display: inline;
    padding-right: 2px;
}

@media(max-width:1400px) {
    .submit input {
        width: 50%;
    }
    .login-div1 {
        padding-top: 40px;
    }
    .ksg-div {
        margin-bottom: 20px;
    }
    #contactForm {
        margin-top: 20px;
    }
    .form-div {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .work-prog2 h1 {
        font-size: 15px;
    }
    .work-prog2 h2 {
        font-size: 13px;
    }
    .pills-div .nav-pills>li>a {
        padding-left: 24px;
        padding-right: 24px;
    }
    .rp-dt {
        width: 35px;
        height: 35px;
    }
}

@media(max-width:1230px) {
    .submit input {
        width: 53%;
    }
}

@media(max-width:1024px) {
    .form-div {
        padding: 40px;
    }
}

@media(max-width:767px) {
    .login-page {
        height: auto
    }
    .login-div1 {
        height: auto
    }
    .form-div,
    .login-div2 {
        border-radius: 50px;
        margin-bottom: 30px;
    }
    .fly-buttons {
        float: none
    }
    .fl-search {
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .fly-div1 {
        padding-bottom: 20px;
    }
    .fl-box1,
    .pill-box1 {
        margin-bottom: 10px;
    }
    .fl-box,
    .pill-box {
        border: none
    }
    .pills-div .nav-pills>li>a {
        text-align: center
    }
    .pill-head,
    .pill-detail {
        padding-top: 10px;
    }
    .pill-box1 {
        padding-bottom: 0px;
    }
    .upp1 {
        margin-bottom: 30px;
    }
    .plant-div2 h1 {
        border: none;
        display: block;
        float: none;
        margin-bottom: 10px;
    }
    .plant-list li,
    .plant-list li:last-child {
        border-top: 2px solid #E3E4E4;
        border-right: none;
        display: block;
    }
    .plant-list li:nth-child(2) {
        padding-left: 0px;
    }
    .gor-div,
    .gy-div {
        margin-bottom: 20px;
    }
    .nav-pills>li {
        float: none;
        margin-bottom: 20px;
    }
    .req-wh1 h3 {
        font-size: 7px;
    }
    .rp-dt {
        font-size: 14px;
        width: 30px;
        height: 30px;
    }
    .req-left,
    .req-left1 {
        padding-right: 15px;
    }
    .req-right,
    .req-right1 {
        padding-left: 15px;
    }
    .gen-list li {
        margin-bottom: 20px;
    }
    .det-sec,
    .det-sec1,
    .det-sec2 {
        margin-bottom: 10px;
    }
    .det-div {
        margin-bottom: 0px;
    }
    .det-button {
        margin-top: 20px;
    }
    .ds-button {
        margin-bottom: 10px;
    }
    .mon-head {
        display: none;
    }
    .st-detail ul li {
        display: block;
        margin-top: 20px;
    }
    .pill-left,
    .pill-left1 {
        border: none
    }
    .map-view1 {
        margin-top: 20px;
    }
}

.pop-div {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pop-div1 {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 11px 11px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.pop-div1 h1 {
    margin: 0px;
    background: url(../../../../assets/images/pop-icon.png) no-repeat left 20px center, linear-gradient(90deg, #457FCA 0%, #5691C8 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    text-align: right;
    padding: 20px 10px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.pop-div1 h2 {
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #727172;
    margin-top: 5px;
}

.pop-form {
    padding-bottom: 20px;
}

.pop-form input {
    width: 100%;
    background: #F7F5F5;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border: none;
    padding: 8px 5px;
}

.info-button {
    text-align: center;
    border-top: 1px solid #C4C4C4;
    padding-top: 30px;
    margin-top: 10px;
}

.save-button {
    padding: 13px 50px;
    background: linear-gradient(109.82deg, #FFFFFF 1.04%, #F8F8F8 84.15%, #C4C4C4 117.58%);
    color: #727172;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-left: 6px solid #6FCF97;
    font-weight: 800;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
    width: auto;
    margin-right: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.cancel-button {
    padding: 13px 45px;
    background: linear-gradient(109.82deg, #FFFFFF 1.04%, #F8F8F8 84.15%, #C4C4C4 117.58%);
    color: #727172;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-left: 6px solid #EB5757;
    font-weight: 800;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
    width: auto;
    margin-right: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.pop-ex {
    width: 100%;
}

.ed-button {
    padding: 13px 50px;
    background: linear-gradient(109.82deg, #FFFFFF 1.04%, #F8F8F8 84.15%, #C4C4C4 117.58%);
    color: #727172;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-left: 6px solid #6FCF97;
    font-weight: 800;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
    width: auto;
    margin-right: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    float: right
}

.modal-header {
    padding-bottom: 30px;
}

.modal-header .close {
    font-size: 30px;
}

.pop-sec {
    padding-top: 30px;
}

@media(max-width:500px) {
    .save-button {
        padding: 13px 35px;
    }
    .cancel-button {
        padding: 13px 30px;
    }
    .pop-div1 h2 {
        margin-bottom: 8px;
    }
    .pop-div1 {
        width: 100%;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 30px 0 0;
    &.payment-details {
        display: flex;
        justify-content: space-between;
        &>li {
            flex-basis: 24%;
            background: #fff;
            -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
            -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
            box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
            border-radius: 5px;
            padding: 0px 15px 3px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &.progress-tender-holder {
                background: none;
                box-shadow: none;
                border-radius: 0;
                padding: 0;
                ul {
                    padding: 0;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    li {
                        background: #fff;
                        -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
                        box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
                        border-radius: 5px;
                        padding: 0px 15px 3px;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 44%;
                    }
                }
            }
            &.total {
                span.badge {
                    background: orange;
                }
            }
            &.paid {
                span.badge {
                    background: green;
                }
            }
            &.pending {
                span.badge {
                    background: red;
                }
            }
            &.progress-project {
                span.badge {
                    background: #fdfd75;
                }
            }
            &.progress-tender-holder {
                .blue-bg {
                    span.badge {
                        background: rgb(161, 161, 216);
                    }
                }
            }
            &.alerts {
                flex-basis: 100%;
                span.badge {
                    background: red;
                }
                .alerts-list {
                    list-style: none;
                    margin: 0px;
                    padding: 20px 0 0 10px;
                    display: flex;
                    justify-content: space-between;
                    li {
                        width: 32%;
                        cursor: pointer;
                        background: rgba(255, 255, 255, 0.8);
                        border-radius: 6px;
                        font-weight: 600;
                        font-size: 12px;
                        padding-bottom: 0;
                        padding-right: 5px;
                        margin-bottom: 10px;
                        img {
                            float: left;
                            padding-top: 13px;
                            padding-bottom: 13px;
                            padding-left: 10px;
                            padding-right: 10px;
                            border-top-right-radius: 12px;
                            border-bottom-right-radius: 12px;
                            margin-right: 10px;
                        }
                    }
                }
            }
            span.badge {
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #000;
                position: absolute;
                left: -10px;
                top: -5px;
                border-radius: 30px;
                border: 4px solid #EFEEF0;
                i {
                    color: #fff;
                    font-size: 24px;
                }
            }
            .info {
                .group {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #eee;
                    align-items: center;
                    padding: 3px 0;
                    h4 {
                        font-size: 11px;
                        text-align: right;
                        text-transform: capitalize;
                        color: #8A8A8C;
                        margin: 10px 0 5px 0;
                        font-weight: 300;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 400;
                    }
                    p {
                        margin: 0 0 5px 0;
                        font-size: 14px;
                        font-weight: 400;
                        color: #7A7A86;
                        text-align: right;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.images-color-code {
    background: blue !important;
}

.documents-color-code {
    background: gold !important;
}

.payments-color-code {
    background: maroon !important;
}

.delayed-color-code {
    background: rgb(245, 150, 216) !important;
}

.interupted-color-code {
    background: rgb(255, 0, 0) !important;
}

.completed-color-code {
    background: rgb(0, 255, 21) !important;
}

.count {
    cursor: pointer;
}

.chart-holder-with-title {
    border-radius: 3px !important;
    padding: 0 10px 10px !important;
    background: #fff ;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    .title-action-holder {
        margin: 0 -10px 15px;
        background: #e1f2f4; // #B8D7B1;
        padding: 4px 10px !important;
        border-top-right-radius: 3px !important;
        border-top-left-radius: 3px !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        h2 {
            font-size: 16px;
            font-weight: 400;
            color: #10453B;
            margin: 0;
            padding: 0;
        }
        label {
            margin: 0;
        }
    }
}

.chart {
    margin-top: 25px;
}


.global-create-modal-wrapper .form-holder {
    overflow: auto;
}

.barChart {
    width: auto;
    .modal-content {
        width: fit-content !important;
    }
}

.modal-container.modal.fade.show .modal-lg {
    width: auto;
}

.excel,
.pdf {
    display: inline-block;
}

.excel,
.pdf img {
    width: 40px;
    display: inline-block;
}

.global-create-modal-wrapper .icon-title-holder {
    position: relative;
}

.export-data {
    margin: -37px 17px 0 0px;
    float: right;
}

.close-btn {
    margin: 9px 4px 0 30px;
}

.rp-list {
    cursor: pointer;
    display: flex;
}
.excel , .pdf{
    cursor: pointer;
}
.export-chart {
    font-size: 33px;
    margin: -24px 12px 0px 5px;
    padding: 7px;
    cursor: pointer;
    float: right;
    letter-spacing: -3px;

}

.modal-header {
    padding-bottom: 30px;
}

.modal-header .close {
    font-size: 30px;
}

.global-create-modal-wrapper .icon-title-holder i {
    width: 60px;
    height: 60px;
    background: #10453B;
    color: #fff;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    position: absolute;
    top: -40px;
}

.chart-blog{
    display: flex;
    align-items: center;
}


