<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="metismenu-icon pe-7s-network">
                  </i>
                </div>
                <div>Trace Report 
                    <div style="position: absolute; left: 26em; right: auto;top: 0.7vw;">
                        <div class="header-right" style="text-align: center;">
                            <div class="actions">
                                <div class="position-relative form-group">
    
                                        <select class="custom-select" style=" width: 30vw;" [(ngModel)]="moileNumber" (change)="onChangeNumber($event.target.value)">
                                            <option *ngFor="let row of this.infectedPeoples" value={{row.MobileNo}}>{{row.MobileNo}}</option>
                                        </select>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> 
    </div>
</div>

    <div class="fly-div" >
        <div class="req-div1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body" >
                                <div class="row">
                                    <h5 class="card-title col-lg-4">Chart View</h5>
                                    
                                </div>
                                <span  style="position: relative; right: 3vw; left: auto; color: red; font-weight: 500; font-size: 14px;"></span>
                                <div class="row">
                                    <div class="col-lg-12"><ng2-org-chart [topEmployee]="contactChart"></ng2-org-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
