table {
    width: 100%;
}

.icon-set li {
    display: inline-block;
}

.icon-set li img {
    width: 40px;
    display: inline-block;
}

.icon-set {
    padding: 2px 15px;
    display: flex;
}

.header-right {
    float: right;
}

.fly-div {
    margin-top: 10px;
}


@font-face {
    font-family: 'tunga';
    src: url('../../../../../assets/fonts/tunga/tunga.ttf') format("opentype");
}

.department {
    background: #dde1e6
}

.total {
    background: #dde1e6
}

table {
    width: 100%;
}

.mat-column-groupHeader {
    cursor: pointer;
}

.department {
    cursor: pointer;
    background-color: #e9ecef7d;
    i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px !important;
    }
    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin-right: 12px;
    }
    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

.pagination { float: right;margin-top: 10px; } 
.cost-title{ text-align: center;margin-top: auto; }
.btn-view-fields{border-radius: 50%;height: 38px;width: 38px;}
.eye{position: relative;margin: 1px 0px 0px -7px;font-size: 22px;}
.filter,.excel,.pdf{cursor: pointer;}
.view_fields .form-group {margin-bottom: 1rem;margin: 2px 10px 0px 2px;}