<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="metismenu-icon pe-7s-network">
                  </i>
                </div>
                <div>Trace Report 
                    <div style="position: absolute; left: 26em; right: auto;top: 0.7vw;">
                        <div class="header-right" style="text-align: center;">
                            <div class="actions">
                                <div class="position-relative form-group">
    
                                        <select class="custom-select" style=" width: 30vw;" [(ngModel)]="moileNumber" (change)="onChangeNumber($event.target.value)">
                                            <option *ngFor="let row of this.infectedPeoples" value={{row.MobileNo}}>{{row.MobileNo}}</option>
                                        </select>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> 
    </div>
</div>

    <div class="fly-div" >
        <div class="req-div1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body" >
                                <div class="row">
                                    <h5 class="card-title col-lg-4">Tress View</h5>
                                   <!--  <div class="col-lg-8">
                                        <div class="header-right">
                                            <div class="actions">
                                                <ul class="icon-set">
                                                   <li class="filter" (click)="onOpenModal(tableFilterModal)" title="Filtering"><img src="./assets/images/filter-icon-new.png" alt="" class="img-fluid"></li>
                                                 <li class="excel" (click)="expoerExcel()" title="Export Excel"><img src="./assets/images/excel-icon.png" alt="" class="img-fluid"></li>
                                                    <li class="pdf" (click)="exportPDF()" title="Export PDF"><img src="./assets/images/pdf-icon.png" alt="" class="img-fluid"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                                <span  style="position: absolute; right: 733px; top: 89px; color: red; font-weight: 500; font-size: 14px;"></span>
                                <ng-container *ngIf="contactChart" >
                                    <table class="table table-bordered details-table">
                                        <thead>
                                            
                                            <tr style="text-align: center;">
                                                <th width="3%" >#</th>
                                                <th width="30%" >Mobile Number</th>
                                                <th width="30%" >Level</th>
                                                
                                            </tr>
                                            
                                        </thead>
                                        <tbody>
                                            <ng-container *ngIf="contactChart" [ngTemplateOutlet]="table2" [ngTemplateOutletContext]="{link: contactChart}">

                                            </ng-container>
                                            
                                        </tbody>
                                        
                                    </table>
                                    <ng-template #table2 let-link='link'>
                                                
                                        <tr  (click)="onExpanded(link.MobileNo)"> 
                                            <td width="3%" style="text-align:left;">
                                                <span ></span> &nbsp; &nbsp;
                                                <i *ngIf="!this.expandeds[link.MobileNo].open || this.expandeds[link.MobileNo].number != link.MobileNo" class="arrow right"><img  src="assets/images/Arrowright.png"  style="width: 12px; height: 12px; text-align: left; border-radius: 50%;"/></i>
                                                <i *ngIf="this.expandeds[link.MobileNo].open && this.expandeds[link.MobileNo].number == link.MobileNo" class="arrow down"><img  src="assets/images/Arrowdown.png" style="width: 12px; height: 12px; text-align: left; border-radius: 50%;"/></i>
                                            
                                            </td >
                                        
                                            <td width="30%" style="text-align: left;">
                                                <b>{{ link.MobileNo }} </b> 
                                            </td >
                                            <td width="30%" style="text-align: left;">
                                                <b>{{ link.Level }} </b> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <ng-container *ngIf="link.Contacts && (this.expandeds[link.MobileNo].open && this.expandeds[link.MobileNo].number == link.MobileNo)" [ngTemplateOutlet]="table" [ngTemplateOutletContext]="{link: link}">
                                    
                                                </ng-container>
        
                                            </td>
                                        </tr>
                                        
                                    
                                </ng-template>

                                <ng-template #table let-link='link' >   
                                    <tr>
                                        <td width="100%" colspan="3" *ngIf="link.Contacts.length != 0" style="border: 0;" ><span class="widget-subheading">Contacted:<b >&nbsp; &nbsp;{{link.Contacts.length}} </b></span></td>
                                    </tr>
                                    <ng-container  *ngFor="let data of link.Contacts; let i = index;">
                                        <ul><li style="width: 100%; position: relative; right: 0;">
                                            <tr  (click)="onExpanded(data.MobileNo)" >   
                                                <td width="3%" style="text-align:left;">
                                                    <i *ngIf="this.expandeds[data.MobileNo]?.open && this.expandeds[data.MobileNo]?.number == data.MobileNo " class="arrow down"><img  src="assets/images/Arrowdown.png" style="width: 12px; height: 12px; text-align: left; border-radius: 50%;"/></i>&nbsp; &nbsp;
                                                    <span style="text-align: centre;">{{i + 1 }}</span>&nbsp; &nbsp;&nbsp; &nbsp;
                                                    <i *ngIf="!this.expandeds[data.MobileNo]?.open || expandeds[data.MobileNo]?.number  != data.MobileNo " class="arrow right"><img  src="assets/images/Arrowright.png"  style="width: 12px; height: 12px; text-align: left; border-radius: 50%;"/></i>
                                                </td>
                                        
                                                <td width="30%" style="text-align: left;">
                                                    <span class="widget-subheading">Mobile Number:</span>&nbsp; &nbsp; <b>{{ data.MobileNo }} </b> 
                                                </td >
                                                <td width="30%" style="text-align: left;">
                                                    <span class="widget-subheading">Level:</span>&nbsp; &nbsp; <b>{{ data.Level }} </b> 
                                                </td>
                                            </tr>
                                                <ng-container *ngIf="data.Contacts && (this.expandeds[data.MobileNo]?.open && expandeds[data.MobileNo]?.number == data.MobileNo)"  [ngTemplateOutlet]="table" [ngTemplateOutletContext]="{link: data}">
                                    
                                                </ng-container>
                                            </li></ul>
                                    </ng-container>
                                </ng-template>
                                    <pagination-controls (pageChange)="p = $event" maxSize="5" autoHide="true" class="pagination"></pagination-controls>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
